
extends ../layouts/topLevel.jade

block topLevelPropertyTable
    if (meta.startedAtTime)
        tr
            td 
                | Time Started
                a(href='http://www.w3.org/ns/prov#startedAtTime',title='Learn more about started at time') 
                    span.fa.fa-info-circle
            td
                != meta.startedAtTime
                br
    if (meta.endedAtTime)
        tr
            td 
                | Time Ended
                a(href='http://www.w3.org/ns/prov#endedAtTime',title='Learn more about ended at time') 
                    span.fa.fa-info-circle
            td
                != meta.endedAtTime
                br

block topLevelPanels
                if meta.usages && meta.usages.length > 0
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseUsages')
                                    | <b>Usages</b>
                        #collapseUsages.panel-collapse.collapse
                            .panel-body
                               table.table.table-striped.entry-detail-table
                                    tr
                                        td
                                            | Usage
                                            a(href='http://www.w3.org/ns/prov#Usage',title='Learn more about usages') 
                                                span.fa.fa-info-circle
                                        td
                                            | Entity
                                            a(href='http://www.w3.org/ns/prov#entity',title='Learn more about entities') 
                                                span.fa.fa-info-circle
                                        td 
                                            | Roles
                                            a(href='http://www.w3.org/ns/prov#hasRole',title='Learn more about roles') 
                                                span.fa.fa-info-circle
                                    tr
                                        td
                                            for usage in meta.usages
                                                a(href=usage.url) #{usage.name}
                                                br
                                        td
                                            for usage in meta.usages
                                                a(href=usage.entity.url) #{usage.entity.name}
                                                br
                                        td
                                            for usage in meta.usages
                                                for role in usage.roles
                                                    != role.term
                                                    a(href=role.uri,title='Learn more about this role') 
                                                        span.fa.fa-info-circle
                                                    br
                if meta.associations && meta.associations.length > 0
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseAssociations')
                                    | <b>Associations</b>
                        #collapseAssociations.panel-collapse.collapse
                            .panel-body
                               table.table.table-striped.entry-detail-table
                                    tr
                                        td
                                            | Association
                                            a(href='http://www.w3.org/ns/prov#Association',title='Learn more about associations') 
                                                span.fa.fa-info-circle
                                        td
                                            | Agent
                                            a(href='http://www.w3.org/ns/prov#Agent',title='Learn more about agents') 
                                                span.fa.fa-info-circle
                                        td
                                            | Plan
                                            a(href='http://www.w3.org/ns/prov#Plan',title='Learn more about plans') 
                                                span.fa.fa-info-circle
                                        td 
                                            | Roles
                                            a(href='http://www.w3.org/ns/prov#hasRole',title='Learn more about roles') 
                                                span.fa.fa-info-circle
                                    tr
                                        td
                                            for association in meta.associations
                                                a(href=association.url) #{association.name}
                                                br
                                        td
                                            for association in meta.associations
                                                a(href=association.agent.url) #{association.agent.name}
                                                br
                                        td
                                            for association in meta.associations
                                                if association.plan
                                                    a(href=association.plan.url) #{association.plan.name}
                                                    br
                                        td
                                            for association in meta.associations
                                                for role in association.roles
                                                    != role.term
                                                    a(href=role.uri,title='Learn more about this role') 
                                                        span.fa.fa-info-circle
                                                    br
