
extends ../layouts/default.jade

block head
    style.
        body {
            background-color: #f6f6f6;
        }

        .grey-page-mark {
            background-color: #f6f6f6;
        }

        .top-search-form {
            display: none;
        }

        .main-search-form input {
            width: 60%;
            margin-left: 0;
            background-color: white;
            padding: 14px 16px 13px 32px;
        }

        .main-search-form .submit {
            padding: 12px 21px;
        }

        .main-search-form label {
            color: #7F8C8D;
        }

        .search-section {
            height: 60px;
            padding: 20px;
            margin: 0 auto;
            width: 60%;
            margin-bottom: 40px;
            text-align: center;
        }

block breadcrumbs
    ul
        li
            span.fa.fa-search
            |  Advanced Search

block content
  div.submission-container(align='center')
    form(name="advancedSearch", method="post")
        div.form-group-50.required
            table.table.advanced-search-table
                th Property
                th Value
                tr
                    td Creator
                    td
                       select(name='creator')
                            option #{'Any Creator'}
                            for creator in creators
                                option #{creator.name}
                tr
                    td CreatedAfter
                    td
                        input(type='text',name='createdAfter',placeholder='YYYY-MM-DD',value=createdAfter)
                tr
                    td CreatedBefore
                    td
                        input(type='text',name='createdBefore',placeholder='YYYY-MM-DD',value=createdBefore)
                tr
                    td ModifiedAfter
                    td
                        input(type='text',name='modifiedAfter',placeholder='YYYY-MM-DD',value=modifiedAfter)
                tr
                    td ModifiedBefore
                    td
                        input(type='text',name='modifiedBefore',placeholder='YYYY-MM-DD',value=modifiedBefore)
                tr
                    td igem:Status
                    td
                        select(name='status')
                            option #{'Any iGEM Status'}
                            for status in statuses
                                option #{status.name}
                tr
                    td igem:Results
                    td
                        select(name='results')
                            option #{'Any iGEM Results'}
                            for result in results
                                option #{result.name}
                tr
                    td Description
                    td
                        input(type='text',name='description',placeholder='Search terms',value=description)
                tr
                    td Type
                    td
                        select(name='type')
                            option #{'Any Type'}
                            for type in types
                                option #{type.name}
                tr
                    td Role
                    td
                        select(name='role')
                            option #{'Any Role'}
                            for role in roles
                                option #{role.name}
                tr
                    td igem:PartType
                    td
                        select(name='partType')
                            option #{'Any iGEM Part Type'}
                            for igemRole in igemRoles
                                option #{igemRole.name}
                tr
                    td Collection
                    td
                        select(name='collection')
                            option #{'Any Collection'}
                            for collection in collections
                                option #{collection.name}

        div.clearfix

        br
        br

        button(type='submit').btn.btn-primary.btn-lg
            | Submit




