
extends ../layouts/default.jade

block head
    style.
        body {
            background-color: #f6f6f6;
        }

        .grey-page-mark {
            background-color: #f6f6f6;
        }

        .top-search-form {
            display: none;
        }

        .main-search-form input {
            width: 60%;
            margin-left: 0;
            background-color: white;
            padding: 14px 16px 13px 32px;
        }

        .main-search-form .submit {
            padding: 12px 21px;
        }

        .main-search-form label {
            color: #7F8C8D;
        }

        .search-section {
            height: 60px;
            padding: 20px;
            margin: 0 auto;
            width: 60%;
            margin-bottom: 40px;
            text-align: center;
        }

block breadcrumbs
    ul
        li.inactive
            span.fa.fa-search
            |  Advanced Search

block content
  div.submission-container(align='center')
    form(name="advancedSearch", method="post")
        div.form-group-50.required
            table.table.advanced-search-table
                th Property
                th Value
                tr
                    td Object Type
                    td
                       select(name='objectType' style='width: 260px;').chosen-select
                            option #{'Any Object Type'}
                            for objectType in objectTypes
                                option #{objectType.name}
                tr
                    td Creator
                    td
                       select(name='creator' style='width: 260px;').chosen-select
                            option #{'Any Creator'}
                            for creator in creators
                                option #{creator.name}
                tr
                    td Created After
                    td
                        input(type='text',name='createdAfter',placeholder='YYYY-MM-DD',value=createdAfter)
                tr
                    td Created Before
                    td
                        input(type='text',name='createdBefore',placeholder='YYYY-MM-DD',value=createdBefore)
                tr
                    td Modified After
                    td
                        input(type='text',name='modifiedAfter',placeholder='YYYY-MM-DD',value=modifiedAfter)
                tr
                    td Modified Before
                    td
                        input(type='text',name='modifiedBefore',placeholder='YYYY-MM-DD',value=modifiedBefore)
                tr
                    td SBOL Document ID/Name/Description
                    td
                        input(type='text',name='description',placeholder='Search terms',value=description,style="width: 550px;")
                tr
                    td Type
                    td
                        select(name='type' style='width: 260px;').chosen-select
                            option #{'Any Type'}
                            for t in types
                                option #{t.name}
                tr
                    td Role
                    td
                        select(name='role' style='width: 260px;').chosen-select
                            option #{'Any Role'}
                            for role in roles
                                option #{role.name}
                tr
                    td Annotations
                    td
                        select(name='annotation' style='width: 260px;').chosen-select
                            option #{'No Filter'}
                            for annotation in annotations
                                option #{annotations.name}
                tr
                    td iGEM Part Status
                    td
                        select(name='partStatus' style='width: 260px;').chosen-select
                            option #{'Any iGEM Part Status'}
                            for partStatus in partStatuses
                                option #{partStatus.name}
                tr
                    td iGEM Sample Status
                    td
                        select(name='sampleStatus' style='width: 260px;').chosen-select
                            option #{'Any iGEM Sample Status'}
                            for sampleStatus in sampleStatuses
                                option #{sampleStatus.name}
                tr
                    td iGEM Status
                    td
                        select(name='status' style='width: 260px;').chosen-select
                            option #{'Any iGEM Status'}
                            for status in statuses
                                option #{status.name}
                tr
                    td iGEM Experience
                    td
                        select(name='experience' style='width: 260px;').chosen-select
                            option #{'Any iGEM Experience'}
                            for experience in experiences
                                option #{experience.name}
                tr
                    td Collections
                    td
                        select(name='collection1' id='collection1' multiple data-placeholder='Select Some Collections').chosen-select
                            for collection in collections
                                option #{collection.name}
                // tr
                //     td Collection
                //     td
                //         select(name='collection2').chosen-select
                //             option #{'Any Collection'}
                //             for collection in collections
                //                 option #{collection.name}
                // tr
                //     td Collection
                //     td
                //         select(name='collection3').chosen-select
                //             option #{'Any Collection'}
                //             for collection in collections
                //                 option #{collection.name}

        div.clearfix

        br
        br

        button(type='submit').btn.btn-primary.btn-lg
            | Search




