
extends ../layouts/default.jade
include ../mixins/advanced-search-filter.jade

block breadcrumbs
    ul
        li.inactive
            span.fa.fa-search
            |  Create Collection

block content
  div.submission-container(align='center')
    form(name="advancedSearch", method="post").submission-form

        if errors.length > 0
            each error in errors
                div.alert.alert-danger
                    p #{error}
                br

        div.form-group-50.required
            table.table.advanced-search-table
                th Property
                th Value
                tr
                    td Object Type
                    td
                       select(name='objectType' style='width: 260px;').chosen-select
                            option #{'No Filter'}
                            for objectType in objectTypes
                                option(selected=(objectType.name==initObjectType)) #{objectType.name}
                tr
                    td Creator
                    td
                       select(name='creator' style='width: 260px;').chosen-select
                            option #{'No Filter'}
                            for creator in creators
                                option(selected=(creator.name==initCreator)) #{creator.name}
                tr
                    td Created After
                    td
                        input(type='text',name='createdAfter',placeholder='YYYY-MM-DD',value=createdAfter)
                tr
                    td Created Before
                    td
                        input(type='text',name='createdBefore',placeholder='YYYY-MM-DD',value=createdBefore)
                tr
                    td Modified After
                    td
                        input(type='text',name='modifiedAfter',placeholder='YYYY-MM-DD',value=modifiedAfter)
                tr
                    td Modified Before
                    td
                        input(type='text',name='modifiedBefore',placeholder='YYYY-MM-DD',value=modifiedBefore)
                tr
                    td ID/Name/Description
                    td
                        input(type='text',name='description',placeholder='Search terms',value=description,style="width: 550px;")
                tr
                    td Type
                    td
                        select(name='type' style='width: 260px;').chosen-select
                            option #{'No Filter'}
                            for t in types
                                option(selected=(t.name==initType)) #{t.name}
                tr
                    td Role
                    td
                        select(name='role' style='width: 260px;').chosen-select
                            option #{'No Filter'}
                            for role in roles
                                option(selected=(role.name==initRole)) #{role.name}
                tr
                    td Collections
                    td
                        select(name='collections' id='collections' multiple data-placeholder='Select Some Collections').chosen-select
                            for collection in collections
                                if initCollections && initCollections.includes(collection.name) 
                                    option(selected=true) #{collection.name}
                                else 
                                    option #{collection.name}

                +advanced-search-filter('searchPred1',predicates,initPred1,"Filter1",objects1,'filterObj1',initObj1,'searchObj1',searchObj1)
                +advanced-search-filter('searchPred2',predicates,initPred2,"Filter2",objects2,'filterObj2',initObj2,'searchObj2',searchObj2)
                +advanced-search-filter('searchPred3',predicates,initPred3,"Filter3",objects3,'filterObj3',initObj3,'searchObj3',searchObj3)
                +advanced-search-filter('searchPred4',predicates,initPred4,"Filter4",objects4,'filterObj4',initObj4,'searchObj4',searchObj4)
                +advanced-search-filter('searchPred5',predicates,initPred5,"Filter5",objects5,'filterObj5',initObj5,'searchObj5',searchObj5)
 
        div.clearfix

        button(type='submit',name="adv",value="Search").btn.btn-primary.btn-lg
            | Search

        if locals.user
            div.row
                div.col-md-12
                    div.form-group-100.required
                        label(for="name") Collection Name 
                            a(href="http://wiki.synbiohub.org/wiki/Terms/SynBioHub#Name",title='SynBioHub organizes objects into collections.  You can put as many objects as you want into one collection, and then conveniently download them all together or share the collection as a whole with other people.')
                                span.fa.fa-info-circle
                            input.form-control(name='metaName',id="metaName",placeholder='A short title for your collection.  You can use spaces and symbols here.',value=collectionMeta.name,style="width: 675px;")
            div.row
                div.col-md-12
                    div.form-group-100.required
                        label(for="description") Collection Description
                            textarea.form-control(name='metaDescription', id="metaDescription" placeholder='The more you say, the easier it will be to find your design.',value=collectionMeta.description,style="width: 675px;")
                                 | #{collectionMeta.description}

            div.row
                div.col-md-6
                    div.form-group-100.required
                        label(for="id") Collection Id  
                            a(href="http://wiki.synbiohub.org/wiki/Terms/SynBioHub#Id",title='An id is a string of characters that MUST be composed of only alphanumeric or underscore characters and MUST NOT begin with a digit.')
                                span.fa.fa-info-circle
                        input.form-control(type='text', id="metaId", name='metaId',placeholder='Just letters and numbers, no spaces',value=collectionMeta.id)
                div.col-md-6
                    div.form-group-100.required
                        label(for='version') Collection Version 
                            a(href="http://wiki.synbiohub.org/wiki/Terms/SynBioHub#Version",title='A version is a string of characters that MUST be composed of only alphanumeric characters, underscores, hyphens, or periods and MUST begin with a digit.')
                                span.fa.fa-info-circle
                        input.form-control(type='text', id='metaVersion', name='metaVersion',placeholder='Version',value=collectionMeta.version)

            div.clearfix
            br

            button(type='submit',name="adv",value="Create").btn.btn-primary.btn-lg
                | Create Collection




