
extends ../layouts/topLevel.jade

block topLevelPreview
    if meta.attachmentIsImage 
        img(src=meta.attachmentDownloadURL,style='max-width: 1000px;')

block topLevelPropertyTable
    if meta.size && meta.size >= 0 
        tr
        td 
            | Size
            a(href='http://sbols.org/v2#size',title='Learn more about size') 
                span.fa.fa-info-circle
        td #{meta.size}

    if meta.attachmentType 
        tr
        td 
            | Format
            a(href='http://sbols.org/v2#format',title='Learn more about format') 
                span.fa.fa-info-circle
        td #{meta.attachmentType}
           a(href=meta.attachmentTypeUrl.toString(),title='Learn more about this format type') 
               span.fa.fa-info-circle &nbsp;

    if meta.attachmentDownloadURL 
        tr
        td 
            | Source
            a(href='http://sbols.org/v2#source',title='Learn more about source') 
                span.fa.fa-info-circle
        td 
            a(href=meta.attachmentDownloadURL) #{meta.attachmentName}

    if meta.attachmentHash 
        tr
        td 
            | Hash
            a(href='http://sbols.org/v2#hash',title='Learn more about hash') 
                span.fa.fa-info-circle
        td #{meta.attachmentHash}
