
extends ../layouts/topLevel.jade

block topLevelPreview
    if meta.attachmentIsImage 
        img(src=meta.attachmentDownloadURL,style='max-width: 1000px;')

block topLevelPropertyTable
    if meta.size && meta.size >= 0 
        tr
        td Size 
        td #{meta.size}

    if meta.attachmentType 
        tr
        td Format 
        td #{meta.attachmentType}

    if meta.attachmentDownloadURL 
        tr
        td Source 
        td 
            a(href=meta.attachmentDownloadURL) #{meta.attachmentName}

    if meta.attachmentHash 
        tr
        td Hash 
        td #{meta.attachmentHash}
