
extends ../layouts/default.jade

block breadcrumbs
    ul
        li.inactive
            span.fa.fa-cloud-upload
            |  Copy


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-copy
            p(style='font-size: 1.7em; font-weight: bolder')
                | Provide New Id and/or Version
            p
                | #[span(style='font-weight: bolder;') Bold fields] are required
        
        form(action=submission.actionURI,method='post',enctype='multipart/form-data').submission-form
        
            if errors.length > 0
                div.alert.alert-danger
                    each error in errors
                        p #{error}
                        br
        
            div.clearfix

            div.row
                div.col-md-6
                    div.form-group-100.required
                        label(for="id") Collection Id  
                            a(href="http://wiki.synbiohub.org/wiki/Terms/SynBioHub#Id",title='An id is a string of characters that MUST be composed of only alphanumeric or underscore characters and MUST NOT begin with a digit.')
                                span.fa.fa-info-circle
                        input.form-control(type='text', id="id", name='id',placeholder='Just letters and numbers, no spaces',value=submission.id)
                div.col-md-6
                    div.form-group-100.required
                        label(for='version') Collection Version 
                            a(href="http://wiki.synbiohub.org/wiki/Terms/SynBioHub#Version",title='A version is a string of characters that MUST be composed of only alphanumeric characters, underscores, hyphens, or periods and MUST begin with a digit.')
                                span.fa.fa-info-circle
                        input.form-control(type='text', id='version', name='version',placeholder='Version',value=submission.version)

            div.row
                div.col-sm-12
                    div.checkbox(style="margin-left:20px")
                        label 
                            input#overwrite_objects(type="checkbox", name="overwrite_objects", value=false, checked=false)
                            |    Overwrite Existing Objects   
                            a(href="http://wiki.synbiohub.org/wiki/Terms/SynBioHub#Overwrite",title='If you are cloning the same thing twice because you have changed things, tick the box below to overwrite previous versions with what you are cloning now.  If this is the first time you are cloning this submission, you can ignore this.')
                                span.fa.fa-info-circle
            br

            div.clearfix

            button(type='submit').btn.btn-primary.btn-lg
                | Copy

                

