
extends ../layouts/topLevel.jade

include ../mixins/blast-button.jade
include ../mixins/mutable-fields.jade
include ../mixins/attachments.jade
include ../mixins/citations.jade

block topLevelBelowPropertyTable
    h3 Members
    table.table.table-striped.entry-detail-table.sbh-collection-members-datatable
        thead
            th Type
            th Identifier
            th Name
            th Description
        tbody
            for member in meta.members
                if (member.id)
                    tr
                        td
                            a(href=member.typeUrl,title=member.typeUrl) #{member.type}
                        td
                            a(href=member.url) #{member.id}
                        td
                            a(href=member.url) #{member.name}
                        td #{member.description}

block topLevelButtons
    if memberCount <= 2000
        a.btn.btn-primary(href=sbolUrl)
            span.fa.fa-download
            | 
            span Download SBOL File
        br
        br
    if meta.triplestore != 'public'
        a.btn.btn-success(href=share)
            span.fa.fa-share
            |  Share
        br
        br
    if meta.triplestore != 'public' || meta.remote
        a.btn.btn-success(href=makePublic)
            span.fa.fa-unlock
            |  Make Public

            


