
extends ../layouts/topLevel.jade

include ../mixins/blast-button.jade
include ../mixins/mutable-fields.jade
include ../mixins/attachments.jade
include ../mixins/citations.jade

block modal
    div.modal.fade#iconModal(tabindex="-1", role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", arial-label="close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Change Collection Icon
                div.modal-body
                    div.row
                        div.col-sm-6
                            if (collectionIcon)
                                h5 Current Icon
                                img(src=collectionIcon, style="width: 100%")
                            else
                                h5 No Icon Set!
                        div.col-sm-6
                            h5 Upload New Icon
                            form#iconForm.form(method="POST", enctype="multipart/form-data", action=url + '/icon')
                                input(type="hidden", value=meta.url, name="collectionUrl")
                                input(type="hidden", value=meta.uri, name="collectionUri")
                                input.form-control(type="file", name="collectionIcon")

                div.modal-footer
                    button.btn.btn-danger(data-dismiss="modal") Close
                    button.btn.btn-primary(type="submit", form="iconForm") Save changes

block topLevelBelowPropertyTable
    h3 Members
    table.table.table-striped.entry-detail-table.sbh-collection-members-datatable
        thead
            th Type
            th Identifier
            th Name
            th Description
        tbody
            for member in meta.members
                if (member.id)
                    tr
                        td #{member.type}&nbsp
                            a(href=member.typeUrl,title=member.typeUrl)
                                span.fa.fa-info
                        td
                            a(href=member.url) #{member.id}
                        td
                            a(href=member.url) #{member.name}
                        td #{member.description}

block topLevelButtons
    if memberCount <= 10000
        a.btn.btn-primary(href=sbolUrl)
            span.fa.fa-download
            | 
            span Download SBOL File
        br
        br
    if locals.user && (locals.user.isCurator || locals.user.isAdmin) && meta.triplestore === 'public'
        a.btn.btn-success(data-toggle="modal", data-target="#iconModal")
            span.fa.fa-file-image-o
            |  Change Collection Icon
        br
        br
    if meta.triplestore != 'public'
        a.btn.btn-success(onclick="popup()")
            span.fa.fa-share
            |  Share
        br
        br
    if meta.triplestore != 'public' && locals.user && locals.user.isCurator
        a.btn.btn-success(href=makePublic)
            span.fa.fa-unlock
            |  Make Public
        br
        br
    if meta.remote
        a.btn.btn-success(href=copyFromRemote)
            span.fa.fa-share-alt
            |  Copy to SynBioHub
