
extends ../layouts/topLevel.jade

block modal
    div.modal.fade#iconModal(tabindex="-1", role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", arial-label="close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Change Collection Icon
                div.modal-body
                    div.row
                        div.col-sm-6
                            if (collectionIcon)
                                h5 Current Icon
                                img(src=collectionIcon, style="width: 100%")
                            else
                                h5 No Icon Set!
                        div.col-sm-6
                            h5 Upload New Icon
                            form#iconForm.form(method="POST", enctype="multipart/form-data", action=url + '/icon')
                                input(type="hidden", value=meta.url, name="collectionUrl")
                                input(type="hidden", value=meta.uri, name="collectionUri")
                                input.form-control(type="file", name="collectionIcon")

                div.modal-footer
                    button.btn.btn-danger(data-dismiss="modal") Close
                    button.btn.btn-primary(type="submit", form="iconForm") Save changes

block topLevelPreview
    h3 Members
    if types
        form(name="filterTypes", method="post").submission-form
            select(name='typeFilter' style='width: 260px;').chosen-select
                option #{'No Type Filter'}
                for type in types
                    option(value=type.uri,selected=(type.uri==initType)) #{type.name}
            button(type='submit',name="typeFilter",value=typeFilter).btn.btn-primary.btn-sm
                | Filter
            
    table.table.table-striped.entry-detail-table.sbh-collection-members-datatable
        thead
            th Name
            th Identifier
            th Type
            th Description
        tbody
            if meta.members	
                for member in meta.members
                    if (member.id)
                        tr
                            td
                                a(href=member.url) #{member.name}
                            td
                                a(href=member.url) #{member.id}
                            td #{member.type}&nbsp
                                a(href=member.typeUrl,title="Learn more about this type of record")
                                    span.fa.fa-info-circle
                            td #{member.description}
                            td
                                a(href='#').delete
                                    span.fa.fa-trash

block topLevelButtons
    if locals.user && (locals.user.isCurator || locals.user.isAdmin) && meta.triplestore === 'public'
        li.btn.btn-success
            a(data-toggle="modal", data-target="#iconModal", title='Change Collection Icon',style="color:white")
                span.fa.fa-file-image-o
    if meta.remote
        li.btn.btn-success
            a(href=copyFromRemote, title='Copy to SynBioHub',style="color:white")
               span.fa.fa-share-alt

