
extends ../layouts/default.jade

include ../mixins/blast-button.jade

block js
    script(src='/js/pathseg.js')
    script(src='/js/visbol.js')

block jsState
    script meta = 
        != JSON.stringify(meta)

block breadcrumbs
    ul
        li.inactive
            a(href='/search')
                span.fa.fa-search
                    |  Search

        if prefix
            li #{prefix} &gt; #{meta.id}
        else
            li
                a(href=meta.url) #{meta.uri} 

block content
    div.submission-detail.container-fluid

        div.row
            div.col-md-12.entry-title
                h1 #{meta.name}

        p
        p

        div.row
            div.col-md-8
                table.table.table-striped.entry-detail-table
                    tr
                        td Identifier
                        td 
                           a(href='/search/displayId=\''+meta.id+'\'&',title='Find all records with the same identifier') #{meta.id}
                        td 
                           a(href='/search/persistentIdentity=<'+encodeURIComponent(meta.pid)+'>&',title='Find all versions') #{'Version '+meta.version}
                    if meta.description != ''
                        tr
                            td Description
                            td
                                != meta.description
                            td
                                a(href='/search/?q='+meta.description) #{'Search'}
                    if meta.purpose != ''
                        tr
                            td Purpose
                            td
                                != meta.purpose
                            td
                    if meta.chassis != ''
                        tr
                            td Intended Chassis
                            td
                                i
                                    != meta.chassis
                            td
                    if meta.uploadedBy != ''
                        tr
                            td Uploaded By
                            td
                                i
                                    != meta.uploadedBy
                            td

                    if annotations && annotations.length > 0
                        tr
                            td
                                for annotation in annotations
                                    != annotation.name.toString()
                                    br
                            td
                                for annotation in annotations
                                    if (annotation.type === 'uri')
                                        a(href=annotation.value.toString(),title='link') #{'URL'}
                                    else 
                                        != annotation.value.toString()
                                    br
                            td

                    if collections.length > 0
                        tr
                            td In Collections
                            td
                                for collection in collections
                                    a(href=collection.url,title=collection.name) #{collection.name}
                                    br
                            td
                                for collection in collections
                                    a(href='/search/collection=<'+encodeURIComponent(collection.uri)+'>&') #{'Search'}
                                    br
                    tr
                        td Members
                        td
                            if (meta.numComponents===10000)
                                | 10000+
                            else
                                | #{meta.numComponents} 
                        td
                            a(href='/search/collection=<'+encodeURIComponent(meta.uri)+'>&') #{'Search'}
                    tr
                        td Type
                        td Identifier
                        td Name
                    tr
                        td
                            for component in meta.components
                                if (component.id)
                                    != component.type 
                                    br
                        td
                            for component in meta.components
                                if (component.id)
                                    a(href=component.url) #{component.id}
                                    br
                        td
                            for component in meta.components
                                if (component.id)
                                    a(href=component.url) #{component.name}
                                    br


            div.col-md-4.entry-actions
                a.btn.btn-primary(href=sbolUrl)
                    span.fa.fa-download
                    | 
                    span Download SBOL File
                br
                br
                if meta.triplestore != 'public'
                    a.btn.btn-success(href=meta.url + '/makePublic')
                        span.fa.fa-unlock
                            |  Make Public

        if meta.displayList
            div.row
                div.col-md-12.text-center
                    div#design

        br
        br




