
extends ../layouts/topLevel.jade

include ../mixins/blast-button.jade
include ../mixins/mutable-fields.jade
include ../mixins/attachments.jade
include ../mixins/citations.jade

block topLevelPropertyTable
    if collections.length > 0
        tr
            td In Collections
            td
                for collection in collections
                    a(href=collection.url,title=collection.name) #{collection.name}
                    br
            td
                for collection in collections
                    a(href='/search/collection=<'+encodeURIComponent(collection.uri)+'>&') #{'Search'}
                    br
    tr
        td(nowrap="nowrap") 
            | Members
            if ((previous >= 0) || (lastNum < memberCount)) 
               = ' ('
            if (previous >= 0)
               a(href=originalUrl + '/?offset='+previous) Previous
               if (lastNum < memberCount)
                   = ' '
            if (lastNum < memberCount)
               a(href=originalUrl + '/?offset='+next) Next
            if ((previous >= 0) || (lastNum < memberCount)) 
               = ')'
        td
            | #{firstNum} - #{lastNum} of #{memberCount} 
        td
            a(href='/search/collection=<'+encodeURIComponent(meta.uri)+'>&') #{'Search'}
    tr
        td Type
        td Identifier
        td Name
    for component in meta.components
        if (component.id)
            tr
                td
                    a(href=component.typeUrl,title=component.typeUrl) #{component.type}
                    br
                td
                    a(href=component.url) #{component.id}
                    br
                td
                    a(href=component.url) #{component.name}
                    br
