
extends ../layouts/topLevel.jade

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design

block topLevelPropertyTable

    if builds && builds.length > 0
            tr
            td Implementations
            td
                for build in builds
                    a(href=build.url) 
                        != build.displayId   
                        if (build.version)
                            != ' (Version '+build.version+')'
                    br

    if meta.sequences && meta.sequences.length > 0
        tr
            td Sequences
            td
                for sequence in meta.sequences
                    a(href=sequence.url) 
                        != sequence.id   
                        if (sequence.version)
                            != ' (Version '+sequence.version+')'
                    br

    if meta.protein && meta.protein !== undefined
        if meta.protein.pI !== undefined
            tr
                td pI
                td #{meta.protein.pI}
                td
        if meta.protein.locatedIn !== undefined
            tr
                td Located in
                td
                    for locatedIn in meta.protein.locatedIn
                        if locatedIn.term
                            a(href=locatedIn.uri) #{locatedIn.description}
                        else 
                            a(href=locatedIn.uri) #{locatedIn.uri}
                        br
                td

block topLevelBelowTitle
    if meta.protein && meta.protein.encodedBy !== undefined
        span
            | Encoded by
            for entity in meta.protein.encodedBy
                | 
                a(href=entity.url) #{entity.name}
    if meta.encodedProteins && meta.encodedProteins.length > 0
        span
            | Encodes
            for protein in meta.encodedProteins
                | 
                a(href=protein.url) #{protein.name}

block topLevelButtons
    li.dropdown.btn.btn-primary
        span.fa.fa-search
            |  
            span.caret
        ul.dropdown-menu.dropdown-toggle
            li
                a(href=href=meta.url + '/uses',title='Find all uses of this '+rdfType.name) Find Uses
            li
                if meta.igemDominant.description == 'true' && !meta.remote
                    a.bg-success(href=meta.url + '/twins',title='This is a dominant twin') Find Twins
                else if !meta.remote
                    a(href=meta.url + '/twins',title='This is NOT a dominant twin') Find Twins
            if config.useSBOLExplorer
                li
                    a(href=href=meta.url + '/similar',title='Find all parts similar to '+rdfType.name) Find Similar
    if createImplementation
        li.dropdown.btn.btn-success
            a(href=meta.url + '/createImplementation',title='Create Implementation',style="color:white")
                span.fa.fa-cubes
    if meta.remote
        li.dropdown.btn.btn-primary
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/copyFromRemote') Copy to SynBioHub
    if meta.BenchlingRemotes && meta.ICERemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createBenchlingSequence') Send to Benchling
                li
                    a(href=meta.url + '/createICEPart') Send to ICE
    else if meta.BenchlingRemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createBenchlingSequence') Send to Benchling
    else if meta.ICERemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createICEPart') Send to ICE
    if config.experimental.dataIntegration
        li.dropdown.btn.btn-primary
            a(href=meta.url + '/integrate',title='Integrate data from an integration pipeline',style="color:white")
                span.fa.fa-plus-circle
                | Data Integration

block topLevelPanels
                if components.length > 0
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseComponents')
                                    | <b>Components</b>
                        #collapseComponents.panel-collapse.collapse
                            .panel-body
                               table.table.table-striped.entry-detail-table
                                    tr
                                        td
                                            a(href='http://sbolstandard.org/v2#Component') Component
                                        td 
                                            a(href='http://sbolstandard.org/v2#displayId') Identifier
                                        td 
                                            a(href='http://dublincore.org/documents/dcmi-terms/#terms-title') Name
                                    tr
                                        td
                                            for component in meta.components
                                                a(href=component.typeUrl) #{component.typeStr}
                                                br
                                        td
                                            for component in meta.components
                                                a(href=component.defUrl) #{component.defId}
                                                a(href=component.url,title='Learn more about this component') 
                                                    span.fa.fa-info-circle
                                                br
                                        td
                                            for component in meta.components
                                                if component.defName && component.defName != ''
                                                    a(href=component.defUrl) #{component.defName}
                                                    a(href=component.url,title='Learn more about this component') 
                                                        span.fa.fa-info-circle
                                                br
                if sequenceAnnotations.length > 0
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseSequenceAnnotations')
                                    | <b>Sequence Annotations</b>
                        #collapseSequenceAnnotations.panel-collapse.collapse
                            .panel-body
                               table.table.table-striped.entry-detail-table
                                    tr
                                        td
                                            a(href='http://sbolstandard.org/v2#SequenceAnnotation') Sequence Annotation
                                        td 
                                            a(href='http://sbolstandard.org/v2#displayId') Identifier
                                        td 
                                            a(href='http://dublincore.org/documents/dcmi-terms/#terms-title') Name
                                    tr
                                        td
                                            for sequenceAnnotation in meta.sequenceAnnotations
                                                for location in sequenceAnnotation.locations
                                                    a(href=location.url) #{location.locationStr}
                                                br
                                        td
                                            for sequenceAnnotation in meta.sequenceAnnotations
                                                a(href=sequenceAnnotation.compUrl) #{sequenceAnnotation.compId}
                                                a(href=sequenceAnnotation.url,title='Learn more about this sequence annotation') 
                                                    span.fa.fa-info-circle
                                                br
                                        td
                                            for sequenceAnnotation in meta.sequenceAnnotations
                                                if sequenceAnnotation.compName && sequenceAnnotation.compName != ''
                                                    a(href=sequenceAnnotation.compUrl) #{sequenceAnnotation.compName}
                                                    a(href=sequenceAnnotation.url,title='Learn more about this sequence annotation') 
                                                        span.fa.fa-info-circle
                                                br
						
                if sequenceConstraints.length > 0
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseSequenceConstraints')
                                    | <b>Sequence Constraints</b>
                        #collapseSequenceConstraints.panel-collapse.collapse
                            .panel-body
                               table.table.table-striped.entry-detail-table
                                    tr
                                        td
                                            a(href='http://sbolstandard.org/v2#subject') Subject
                                        td 
                                            a(href='http://sbolstandard.org/v2#restriction') Predicate
                                        td 
                                            a(href='http://sbolstandard.org/v2#object') Object
                                    tr
                                        td
                                            for sequenceConstraint in meta.sequenceConstraints
                                                a(href=sequenceConstraint.subjectUrl) #{sequenceConstraint.subjectName}
                                                br
                                        td
                                            for sequenceConstraint in meta.sequenceConstraints
                                                a(href=sequenceConstraint.restriction.url) #{sequenceConstraint.restriction.id}
                                                br
                                        td
                                            for sequenceConstraint in meta.sequenceConstraints
                                                a(href=sequenceConstraint.objectUrl) #{sequenceConstraint.objectName}
                                                br
		    
                if meta.iGemMainPage
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseIGemMainPage')
                                    | <b>iGEM Wiki Main Page</b>
                        #collapseIGemMainPage.panel-collapse.collapse
                            .panel-body
                                | !{meta.iGemMainPage}
                if meta.iGemDesign
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseIGemDesign')
                                    | <b>iGEM Wiki Design Page</b>
                        #collapseIGemDesign.panel-collapse.collapse
                            .panel-body
                                | !{meta.iGemDesign}
                if meta.iGemExperience
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                a.accordion-toggle(data-toggle='collapse', href='#collapseIGemExperience')
                                    | <b>iGEM Wiki Experience Page</b>
                        #collapseIGemExperience.panel-collapse.collapse
                            .panel-body
                                | !{meta.iGemExperience}
