
extends ../layouts/default.jade

include ../mixins/blast-button.jade

block js
    script(src='/js/pathseg.js')
    script(src='/js/visbol.js')

block jsState
    script meta = 
        != JSON.stringify(meta)

block breadcrumbs
    ul
        li.inactive
            a(href='/search')
                span.fa.fa-search
                    |  Search

        if prefix
            li #{prefix} &gt; #{meta.id}
        else
            li
                a(href=meta.url) #{meta.uri} 

block content
    div.submission-detail.container-fluid

        div.row
            div.col-md-12.entry-title
                h1 #{meta.name}

                if meta.protein && meta.protein.encodedBy !== undefined
                    span
                        | Encoded by
                        for entity in meta.protein.encodedBy
                            | 
                            a(href=entity.url) #{entity.name}


                if encodedProteins.length > 0
                    span
                        | Encodes
                        for protein in encodedProteins
                            | 
                            a(href=protein.url) #{protein.name}

                if meta.experience
                    span
                        a(href=meta.experience) iGEM experience for this part


        p
        p

        div.row
            div.col-md-6
                table.table.table-striped.entry-detail-table
                    tr
                        td Identifier
                        td #{meta.id}
                        td
			
                    if meta.wasDerivedFrom != ''
                        tr
                            td Source
                            td
                               a(href=meta.wasDerivedFrom.toString()) #{meta.wasDerivedFrom}
                            td

                    if meta.creator.description != ''
                        tr
                            td Creator
                            td
                                != meta.creator.description
                            td
                                a(href='/search/dcterms:creator=\''+meta.creator.description+'\'&') #{'Search'}
       
                    if meta.created.description != ''
                        tr
                            td Created
                            td
                                != meta.created.description
                            td
                               a(href='/search/createdBefore='+meta.created.description.split(' ')[0]+'&createdAfter='+meta.created.description.split(' ')[0]+'&') #{'Search'}

                    if meta.modified.description != ''
                        tr
                            td Modified
                            td
                                != meta.modified.description
                            td
                               a(href='/search/modifiedBefore='+meta.created.description.split(' ')[0]+'&modifiedAfter='+meta.created.description.split(' ')[0]+'&') #{'Search'}

                    if meta.description != ''
                        tr
                            td Description
                            td
                                != meta.description
                            td
                                a(href='/search/?q='+meta.description) #{'Search'}

                    if meta.igemPartStatus.description != ''
                        tr
                            td Part Status
                            td
                                a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{meta.igemPartStatus.description}
                            td
                                a(href='/search/igem:partStatus=\''+meta.igemPartStatus.description+'\'&') #{'Search'} 

                    if meta.igemStatus.description != 'igem:'
                        tr
                            td Status
                            td
                                a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{meta.igemStatus.description}
                            td
                                a(href='/search/igem:status=<'+encodeURIComponent(meta.igemStatus.uri)+'>&') #{'Search'} 

                    if meta.igemResults.description != 'igem:'
                        tr
                            td Results
                            td
                                a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{meta.igemResults.description}
                            td
                                a(href='/search/igem:results=<'+encodeURIComponent(meta.igemResults.uri)+'>&') #{'Search'} 

                    if meta.labels.length > 0
                        tr
                            td Labels
                            td #{meta.labels.join(', ')}
                            td

                    if meta.types.length > 0
                        tr
                            td Types
                            td 
                                for type in meta.types
                                    a(href=type.term,title='definition') #{type.description}
                                    br
                            td 
                                for type in meta.types
                                    a(href='/search/type=<'+encodeURIComponent(type.uri)+'>&',title=type.description) #{'Search'}
                                    br

                    if meta.roles.length > 0
                        tr
                            td Roles
                            td
                                for role in meta.roles
                                    if role.description
                                        a(href=role.term,title='definition') #{role.description.name}
                                    else 
                                        a(href='/search/role=<'+encodeURIComponent(role.uri)+'>&') #{role.term} 
                                    br
                            td
                                for role in meta.roles
                                    a(href='/search/role=<'+encodeURIComponent(role.uri)+'>&') #{'Search'}
                                    br
				    
                    if collections.length > 0
                        tr
                           td Collections
                            td
                                for collection in collections
                                    a(href=collection.url,title=collection.name) #{collection.name}
                                    br
                            td
                                for collection in collections
                                    a(href='/search/collection=<'+encodeURIComponent(collection.uri)+'>&') #{'Search'}
                                    br

                    if meta.protein !== undefined
                        if meta.protein.pI !== undefined
                            tr
                                td pI
                                td #{meta.protein.pI}
                                td
                        if meta.protein.locatedIn !== undefined
                            tr
                                td Located in
                                td
                                    for locatedIn in meta.protein.locatedIn
                                        if locatedIn.term
                                            a(href=locatedIn.uri) #{locatedIn.description}
                                        else 
                                            a(href=locatedIn.uri) #{locatedIn.uri}
                                        br
                                td

            div.col-md-6.entry-actions
                a.btn.btn-primary(href=sbolUrl)
                    span.fa.fa-download
                    | 
                    span Download SBOL File
                br
                br
                a.btn.btn-primary(href=genBankUrl)
                    span.fa.fa-download
                    | 
                    span Download GenBank
                br
                br
                a.btn.btn-primary(href=fastaUrl)
                    span.fa.fa-download
                    | 
                    span Download FASTA
                br
                br
                a.btn.btn-primary(href=searchUsesUrl)
                    span.fa.fa-search
                    | 
                    span Find Uses
                br
                br
                a.btn.btn-primary(href=searchTwinsUrl)
                    span.fa.fa-search
                    | 
                    span Find Twins
                br

        if (meta.igemDescription != '') 
            div.row
                | <h2>!{meta.description}</h2>
                | !{meta.igemDescription}
                br

        if (meta.igemNotes != '') 
            div.row
                | <h3>Notes</h3>
                | !{meta.igemNotes}
                br

        if (meta.source != '') 
            div.row
                | <h3>Source</h3>
                | !{meta.source}
                br
    
        br
        if meta.displayList
            div.row
                div.col-md-12.text-center
                    div#design


        if meta.sequences.length > 0
            div.row
                div.col-md-6
                    div.pull-right
                        +blast-button(meta.sequences[0])
                    h4 Sequence (#{meta.sequences[0].length} #{meta.sequences[0].lengthUnits})
                    pre #{meta.sequences[0].formatted}

        br
        br

        if canEdit

            if design.triplestore != 'public'
                a.btn.btn-success(href='/actions/makePublic/' + meta.id)
                    span.fa.fa-unlock
                        |  Make Public



