
extends ../layouts/topLevel.jade

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design

block topLevelPropertyTable
    if meta.sequences.length > 0
        tr
            td Sequences
            td
                for sequence in meta.sequences
                    a(href=sequence.url) #{sequence.id}
                    br
            td(nowrap="nowrap") 
                for sequence in meta.sequences
                    if (sequence.version)
                        != 'Version '+sequence.version
                        br
    if meta.protein !== undefined
        if meta.protein.pI !== undefined
            tr
                td pI
                td #{meta.protein.pI}
                td
        if meta.protein.locatedIn !== undefined
            tr
                td Located in
                td
                    for locatedIn in meta.protein.locatedIn
                        if locatedIn.term
                            a(href=locatedIn.uri) #{locatedIn.description}
                        else 
                            a(href=locatedIn.uri) #{locatedIn.uri}
                        br
                td

block topLevelBelowTitle
    if meta.protein && meta.protein.encodedBy !== undefined
        span
            | Encoded by
            for entity in meta.protein.encodedBy
                | 
                a(href=entity.url) #{entity.name}
    if encodedProteins.length > 0
        span
            | Encodes
            for protein in encodedProteins
                | 
                a(href=protein.url) #{protein.name}

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    br
    br
    a.btn.btn-primary(href=genBankUrl)
        span.fa.fa-download
        | 
        span Download GenBank
    br
    br
    // a.btn.btn-primary(href=fastaUrl)
    //     span.fa.fa-download
    //     | 
    //     span Download FASTA
    // br
    // br
    a.btn.btn-primary.sbh-download-picture
        span.fa.fa-picture-o
        | 
        span Download Image
    br
    br
    a.btn.btn-primary(href=searchUsesUrl,title='Find all uses of this part')
        span.fa.fa-search
        | 
        span Find Uses
    br
    br
    if meta.igemDominant.description == 'true'
        a.btn.btn-success(href=searchTwinsUrl,title='This is a dominant twin')
            span.fa.fa-search
            | 
            span Find Twins
        br
        br
    else
        a.btn.btn-primary(href=searchTwinsUrl,title='This is NOT a dominant twin')
            span.fa.fa-search
            | 
            span Find Twins
        br
        br
    if config.experimental.dataIntegration
        a.btn.btn-primary(href=dataIntegrationUrl,title='Integrate data from an integration pipeline')
            span.fa.fa-plus-circle
            | 
            span Data Integration
        br
        br

