
extends ../layouts/default.jade

include ../mixins/blast-button.jade

block jsState
    script meta = 
        != JSON.stringify(meta)

block breadcrumbs
    ul
        li.inactive
            a(href='/search')
                span.fa.fa-search
                    |  Search

        if prefix
            li #{prefix} &gt; #{meta.id}
        else
            li
                a(href=meta.url) #{meta.uri} 

block content

    div.clearfix

    div.submission-detail.container-fluid

        div.row.entry-heading
            div.col-sm-5.entry-title
                h1 #{meta.name} 
                    if meta.igemFavorite.description == 'true'
                        a(href='http://parts.igem.org/Help:Favorite_Parts',title='Favorite Part')
                            span.fa.fa-bookmark
                    if meta.igemRating.description == 'true'
                        a(href='http://parts.igem.org/Help:Part_Status_Box',title='Experience')
                            span.fa.fa-star
                if meta.igemDiscontinued.description == 'true'
                    h4(style=" color: #FF0000") This part has been discontinued.
                if meta.igemReplacedBy.uri != ''
                    h4(style=" color: #FF0000") Please consider using 
                        a(href=meta.igemReplacedBy.uri) #{meta.igemReplacedBy.id}
                        | as a replacement.

                if meta.protein && meta.protein.encodedBy !== undefined
                    span
                        | Encoded by
                        for entity in meta.protein.encodedBy
                            | 
                            a(href=entity.url) #{entity.name}


                if encodedProteins.length > 0
                    span
                        | Encodes
                        for protein in encodedProteins
                            | 
                            a(href=protein.url) #{protein.name}

            div.col-sm-3.sbh-collection-icon
                img(src=collectionIcon)


        div.row
            div.col-md-8
                table.table.table-striped.entry-detail-table
                    tr
                        td Identifier
                        td 
                            a(href='/search/displayId=\''+meta.id+'\'&',title='Find all records with the same identifier') #{meta.id}
                        td(nowrap="nowrap") 
                            a(href='/search/persistentIdentity=<'+encodeURIComponent(meta.pid)+'>&',title='Find all versions') #{'Version '+meta.version}
			
                    if meta.wasDerivedFrom != ''
                        tr
                            td Source
                            td
                               a(href=meta.wasDerivedFrom.toString()) #{meta.wasDerivedFrom}
                            td

                    if meta.creator.description != ''
                        tr
                            td Creator
                            td
                                != meta.creator.description
                            td
                                a(href='/search/dcterms:creator=\''+meta.creator.description+'\'&') #{'Search'}
       
                    if meta.created.description != ''
                        tr
                            td Created
                            td
                                != meta.created.description
                            td
                               a(href='/search/createdBefore='+meta.created.description.split(' ')[0]+'&createdAfter='+meta.created.description.split(' ')[0]+'&') #{'Search'}

                    if meta.modified.description != ''
                        tr
                            td Modified
                            td
                                != meta.modified.description
                            td
                               a(href='/search/modifiedBefore='+meta.modified.description.split(' ')[0]+'&modifiedAfter='+meta.modified.description.split(' ')[0]+'&') #{'Search'}

                    if meta.description != ''
                        tr
                            td Description
                            td
                                != meta.description
                            td
                                a(href='/search/?q='+meta.description) #{'Search'}

                    // if meta.igemPartStatus.description != ''
                    //     tr
                    //         td Part Status
                    //         td
                    //             a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{meta.igemPartStatus.description}
                    //         td
                    //             a(href='/search/igem:partStatus=\''+meta.igemPartStatus.description+'\'&', title) #{'Search'} 

                    // if meta.igemSampleStatus.description != ''
                    //     tr
                    //         td Sample Status
                    //         td
                    //             a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{meta.igemSampleStatus.description}
                    //         td
                    //             a(href='/search/igem:sampleStatus=\''+meta.igemSampleStatus.description+'\'&', title) #{'Search'} 

                    // if meta.igemStatus.description != ''
                    //     tr
                    //         td Status
                    //         td
                    //             a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{meta.igemStatus.description}
                    //         td
                    //             a(href='/search/igem:status=<'+encodeURIComponent(meta.igemStatus.uri)+'>&') #{'Search'} 

                    // if meta.igemExperience.description != ''
                    //     tr
                    //         td Experience
                    //         td
                    //             a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{meta.igemExperience.description}
                    //         td
                    //             a(href='/search/igem:experience=<'+encodeURIComponent(meta.igemExperience.uri)+'>&') #{'Search'} 

                    if meta.labels.length > 0
                        tr
                            td Labels
                            td #{meta.labels.join(', ')}
                            td

                    if annotations && annotations.length > 0
                        for annotation in annotations
                            tr
                                td
                                    a(href=annotation.nameDef,title=annotation.nameDef) #{annotation.name}
                                    br
                                td
                                    if (annotation.type === 'uri')
                                        a(href=annotation.url,title=annotation.uri) #{annotation.value}
                                    else 
                                        != annotation.value.toString()
                                    br
                                td
                                    if (annotation.type === 'uri')
                                        a(href = '/search/<' + encodeURIComponent(annotation.nameDef) + '>=<' + encodeURIComponent(annotation.uri) + '>&', title = '/search/<' + encodeURIComponent(annotation.nameDef) + '>=<' + encodeURIComponent(annotation.uri)+ '>&') #{'Search'}
                                    else 
                                        a(href = '/search/<' + encodeURIComponent(annotation.nameDef) + '>=<' + encodeURIComponent(annotation.uri) + '>&', title = '/search/<' + encodeURIComponent(annotation.nameDef) + '>=\'' + encodeURIComponent(annotation.value)+ '\'&') #{'Search'}

                    if meta.types.length > 0
                        tr
                            td Types
                            td 
                                for type in meta.types
                                    if type.description
                                       a(href=type.term,title='definition') #{type.description.name}
                                    else 
                                       a(href=type.uri,title='definition') #{type.uri}
                                    br
                            td 
                                for type in meta.types
                                    if type.description
                                       a(href='/search/type=<'+encodeURIComponent(type.uri)+'>&',title=type.description) #{'Search'}
                                    else
                                       a(href='/search/type=<'+encodeURIComponent(type.uri)+'>&',title=type.uri) #{'Search'}
                                    br

                    if meta.roles.length > 0
                        tr
                            td Roles
                            td
                                for role in meta.roles
                                    if role.description
                                        a(href=role.term,title='definition') #{role.description.name}
                                    else 
                                        a(href=role.uri,title=role.uri) #{role.term} 
                                    br
                            td
                                for role in meta.roles
                                    a(href='/search/role=<'+encodeURIComponent(role.uri)+'>&') #{'Search'}
                                    br

                    if meta.sequences.length > 0
                        tr
                            td Sequences
                            td
                                for sequence in meta.sequences
                                    a(href=sequence.url) #{sequence.id}
                                    br
                            td(nowrap="nowrap") 
                                for sequence in meta.sequences
                                    if (sequence.version)
                                        != 'Version '+sequence.version
                                        br
				    
                    if collections.length > 0
                        tr
                            td In Collections
                            td
                                for collection in collections
                                    a(href=collection.url,title=collection.name) #{collection.name}
                                    br
                            td
                                for collection in collections
                                    a(href='/search/collection=<'+encodeURIComponent(collection.uri)+'>&') #{'Search'}
                                    br

                    if meta.protein !== undefined
                        if meta.protein.pI !== undefined
                            tr
                                td pI
                                td #{meta.protein.pI}
                                td
                        if meta.protein.locatedIn !== undefined
                            tr
                                td Located in
                                td
                                    for locatedIn in meta.protein.locatedIn
                                        if locatedIn.term
                                            a(href=locatedIn.uri) #{locatedIn.description}
                                        else 
                                            a(href=locatedIn.uri) #{locatedIn.uri}
                                        br
                                td

            div.col-md-4.entry-actions
                a.btn.btn-primary(href=sbolUrl)
                    span.fa.fa-download
                    | 
                    span Download SBOL File
                br
                br
                a.btn.btn-primary(href=genBankUrl)
                    span.fa.fa-download
                    | 
                    span Download GenBank
                br
                br
                // a.btn.btn-primary(href=fastaUrl)
                //     span.fa.fa-download
                //     | 
                //     span Download FASTA
                // br
                // br
                a.btn.btn-primary.sbh-download-picture
                    span.fa.fa-picture-o
                    | 
                    span Download Image
                br
                br
                a.btn.btn-primary(href=searchUsesUrl,title='Find all uses of this part')
                    span.fa.fa-search
                    | 
                    span Find Uses
                br
                br
                if meta.igemDominant.description == 'true'
                    a.btn.btn-success(href=searchTwinsUrl,title='This is a dominant twin')
                        span.fa.fa-search
                        | 
                        span Find Twins
                    br
                else
                    a.btn.btn-primary(href=searchTwinsUrl,title='This is NOT a dominant twin')
                        span.fa.fa-search
                        | 
                        span Find Twins
                    br

        if (meta.igemDescription != '') 
            div.row
                | <h2>!{meta.description}</h2>
                | !{meta.igemDescription}
                br

        if (meta.igemNotes != '') 
            div.row
                | <h3>Notes</h3>
                | !{meta.igemNotes}
                br

        if (meta.source != '') 
            div.row
                | <h3>Source</h3>
                | !{meta.source}
                br
    
        br
        if meta.displayList
            div.row
                div.col-md-12.text-center
                    div#design


        // if meta.sequences.length > 0
        //     div.row
        //         div.col-md-8
        //             div.pull-right
        //                 +blast-button(meta.sequences[0])
        //             h4 Sequence (#{meta.sequences[0].length} #{meta.sequences[0].lengthUnits})
        //             pre #{meta.sequences[0].formatted}

        // br
        br

        if canEdit

            if design.triplestore != 'public'
                a.btn.btn-success(href='/actions/makePublic/' + meta.id)
                    span.fa.fa-unlock
                        |  Make Public



