
extends ../layouts/topLevel.jade

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design

block topLevelPropertyTable

    if meta.builds.length > 0
            tr
            td Implementations
            td
                for impl in meta.builds
                    a(href=impl) 
                        != impl

    if meta.sequences.length > 0
        tr
            td Sequences
            td
                for sequence in meta.sequences
                    a(href=sequence.url) 
                        != sequence.id   
                        if (sequence.version)
                            != ' (Version '+sequence.version+')'
                    br

    if meta.protein !== undefined
        if meta.protein.pI !== undefined
            tr
                td pI
                td #{meta.protein.pI}
                td
        if meta.protein.locatedIn !== undefined
            tr
                td Located in
                td
                    for locatedIn in meta.protein.locatedIn
                        if locatedIn.term
                            a(href=locatedIn.uri) #{locatedIn.description}
                        else 
                            a(href=locatedIn.uri) #{locatedIn.uri}
                        br
                td

block topLevelBelowTitle
    if meta.protein && meta.protein.encodedBy !== undefined
        span
            | Encoded by
            for entity in meta.protein.encodedBy
                | 
                a(href=entity.url) #{entity.name}
    if encodedProteins.length > 0
        span
            | Encodes
            for protein in encodedProteins
                | 
                a(href=protein.url) #{protein.name}

block topLevelButtons
    li.dropdown.btn.btn-primary
        span.fa.fa-search
            |  
            span.caret
        ul.dropdown-menu.dropdown-toggle
            li
                a(href=href=meta.url + '/uses',title='Find all uses of this '+rdfType.name) Find Uses
            li
                if meta.igemDominant.description == 'true' && !meta.remote
                    a.btn.btn-success(href=meta.url + '/twins',title='This is a dominant twin') Find Twins
                else if !meta.remote
                    a(href=meta.url + '/twins',title='This is NOT a dominant twin') Find Twins
            if config.useSBOLExplorer
                li
                    a(href=href=meta.url + '/similar',title='Find all parts similar to '+rdfType.name) Find Similar
    if createImplementation
        li.dropdown.btn.btn-success
            a(href=meta.url + '/createImplementation',title='Create Implementation',style="color:white")
                span.fa.fa-cubes
    if meta.remote
        li.dropdown.btn.btn-primary
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/copyFromRemote') Copy to SynBioHub
    if BenchlingRemotes && ICERemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createBenchlingSequence') Send to Benchling
                li
                    a(href=meta.url + '/createICEPart') Send to ICE
    else if BenchlingRemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createBenchlingSequence') Send to Benchling
    else if ICERemotes
        li.dropdown.btn.btn-success
            span.fa.fa-send
                |  
                span.caret
            ul.dropdown-menu.dropdown-toggle
                li
                    a(href=meta.url + '/createICEPart') Send to ICE
    if config.experimental.dataIntegration
        li.dropdown.btn.btn-primary
            a(href=meta.url + '/integrate',title='Integrate data from an integration pipeline',style="color:white")
                span.fa.fa-plus-circle
                | Data Integration
