
extends ../layouts/default.jade

include ../mixins/blast-button.jade

block js
    script(src='/js/pathseg.js')
    script(src='/js/visbol.js')

block jsState
    script meta = 
        != JSON.stringify(meta)

block breadcrumbs
    ul
        li.inactive
            a(href='/search')
                span.fa.fa-search
                    |  Search

        if prefix
            li #{prefix} &gt; #{meta.id}
        else
            li
                a(href=meta.uri) #{meta.uri} 

block content
    div.submission-detail.container-fluid

        div.row
            div.col-md-12.entry-title
                h1 #{meta.name}

                if meta.protein && meta.protein.encodedBy !== undefined
                    span
                        | Encoded by
                        for entity in meta.protein.encodedBy
                            | 
                            a(href=entity.url) #{entity.name}


                if encodedProteins.length > 0
                    span
                        | Encodes
                        for protein in encodedProteins
                            | 
                            a(href=protein.url) #{protein.name}

                if meta.experience
                    span
                        a(href=meta.experience) iGEM experience for this part


        p
        p

        div.row
            div.col-md-6
                table.table.table-striped.entry-detail-table
                    tr
                        td Identifier
                        td #{meta.id}

                    if meta.creator != ''
                        tr
                            td Creator
                            td
                                a(href=meta.creator.uri) #{meta.creator.description}

                    if meta.created != ''
                        tr
                            td Created
                            td
                                != meta.created.description

                    if meta.modified != ''
                        tr
                            td Description
                            td
                                != meta.description

                    if meta.description != ''
                        tr
                            td Modified
                            td
                                != meta.modified.description


                    if meta.igemPartStatus.description != ''
                        tr
                            td Part Status
                            td
                                a(href=meta.igemPartStatus.uri) #{meta.igemPartStatus.description}
                                a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{' (definition)'}

                    if meta.igemStatus.description != 'igem:'
                        tr
                            td Status
                            td
                                a(href=meta.igemStatus.uri) #{meta.igemStatus.description}
                                a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{' (definition)'}

                    if meta.igemResults.description != 'igem:'
                        tr
                            td Results
                            td
                                a(href=meta.igemResults.uri) #{meta.igemResults.description}
                                a(href='http://parts.igem.org/Help:Part_Status_Box',title='definition') #{' (definition)'}
			
                    if meta.wasDerivedFrom != ''
                        tr
                            td Source
                            td
                               a(href=meta.wasDerivedFrom.toString()) #{meta.wasDerivedFrom}

                    if meta.labels.length > 0
                        tr
                            td Labels
                            td #{meta.labels.join(', ')}

                    if meta.types.length > 0
                        tr
                            td Types
                            td 
                                for type in meta.types
                                    if type.description
                                        a(href=type.uri,title=type.description) #{type.description}
                                        a(href=type.term,title='definition') #{' (definition)'}
                                    else if type.title
                                        span #{type.title}
                                    else if type.term
                                        a(href=type.uri) #{type.term}
                                    else
                                        a(href=type.uri) #{type.uri}
                                    br

                    if meta.roles.length > 0
                        tr
                            td Roles
                            td
                                for role in meta.roles
                                    if role.description
                                        a(href=role.uri,title=role.description.def) #{role.description.name}
                                        a(href=role.term,title='definition') #{' (definition)'}
                                    else if role.title
                                        span #{role.title}
                                    else if role.term
                                        a(href=role.uri) #{role.term}
                                    else
                                        a(href=role.uri) #{role.uri}
                                    br
				    
                    if meta.roles.length > 0
                        tr
                            td Collections
                            td
                                for collection in collections
                                    a(href=collection.url) #{collection.name}
                                    br

                    if meta.protein !== undefined
                        if meta.protein.pI !== undefined
                            tr
                                td pI
                                td #{meta.protein.pI}
                        if meta.protein.locatedIn !== undefined
                            tr
                                td Located in
                                td
                                    for locatedIn in meta.protein.locatedIn
                                        if locatedIn.term
                                            a(href=locatedIn.uri) #{locatedIn.description}
                                        else 
                                            a(href=locatedIn.uri) #{locatedIn.uri}
                                        br

            div.col-md-6.entry-actions
                a.btn.btn-primary(href=sbolUrl)
                    span.fa.fa-download
                    | 
                    span Download SBOL File
                br
                br
                a.btn.btn-primary(href=fastaUrl)
                    span.fa.fa-download
                    | 
                    span Download FASTA
                br
                br
                a.btn.btn-primary(href=searchUsesUrl)
                    span.fa.fa-search
                    | 
                    span Find Uses
                br
                br
                a.btn.btn-primary(href=searchTwinsUrl)
                    span.fa.fa-search
                    | 
                    span Find Twins
                br

        if (meta.igemDescription != '') 
            div.row
                | <h2>!{meta.description}</h2>
                | !{meta.igemDescription}
                br

        if (meta.igemNotes != '') 
            div.row
                | <h3>Notes</h3>
                | !{meta.igemNotes}
                br

        if (meta.source != '') 
            div.row
                | <h3>Source</h3>
                | !{meta.source}
                br
    
        br
        if meta.displayList
            div.row
                div.col-md-12.text-center
                    div#design


        if meta.sequences.length > 0
            div.row
                div.col-md-6
                    div.pull-right
                        +blast-button(meta.sequences[0])
                    h4 Sequence (#{meta.sequences[0].length} #{meta.sequences[0].lengthUnits})
                    pre #{meta.sequences[0].formatted}

        br
        br

        if canEdit

            if design.triplestore != 'public'
                a.btn.btn-success(href='/actions/makePublic/' + meta.id)
                    span.fa.fa-unlock
                        |  Make Public



