
extends ../layouts/topLevel.jade

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design

block topLevelPropertyTable

    if meta.builds.length > 0
            tr
            td Implementations
            td
                for impl in meta.builds
                    a(href=impl) 
                        != impl

    if meta.sequences.length > 0
        tr
            td Sequences
            td
                for sequence in meta.sequences
                    a(href=sequence.url) 
                        != sequence.id   
                        if (sequence.version)
                            != ' (Version '+sequence.version+')'
                    br

    if meta.protein !== undefined
        if meta.protein.pI !== undefined
            tr
                td pI
                td #{meta.protein.pI}
                td
        if meta.protein.locatedIn !== undefined
            tr
                td Located in
                td
                    for locatedIn in meta.protein.locatedIn
                        if locatedIn.term
                            a(href=locatedIn.uri) #{locatedIn.description}
                        else 
                            a(href=locatedIn.uri) #{locatedIn.uri}
                        br
                td

block topLevelBelowTitle
    if meta.protein && meta.protein.encodedBy !== undefined
        span
            | Encoded by
            for entity in meta.protein.encodedBy
                | 
                a(href=entity.url) #{entity.name}
    if encodedProteins.length > 0
        span
            | Encodes
            for protein in encodedProteins
                | 
                a(href=protein.url) #{protein.name}

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    br
    br
    a.btn.btn-primary(href=genBankUrl)
        span.fa.fa-download
        | 
        span Download GenBank
    br
    br
    a.btn.btn-primary(href=fastaUrl)
        span.fa.fa-download
        | 
        span Download FASTA
    br
    br
    a.btn.btn-primary.sbh-download-picture
        span.fa.fa-picture-o
        | 
        span Download Image
    br
    br
    if !meta.remote && meta.triplestore === 'public'
        a.btn.btn-primary(href=searchUsesUrl,title='Find all uses of this part')
            span.fa.fa-search
            | 
            span Find Uses
        br
        br
    if meta.igemDominant.description == 'true' && !meta.remote && meta.triplestore === 'public'
        a.btn.btn-success(href=searchTwinsUrl,title='This is a dominant twin')
            span.fa.fa-search
            | 
            span Find Twins
        br
        br
    else if !meta.remote && meta.triplestore === 'public'
        a.btn.btn-primary(href=searchTwinsUrl,title='This is NOT a dominant twin')
            span.fa.fa-search
            | 
            span Find Twins
        br
        br
    if meta.triplestore != 'public'
        a.btn.btn-success(onclick="popup()")
            span.fa.fa-share
            |  Share
        br
        br
    if meta.triplestore != 'public' && locals.user && locals.user.isCurator
        a.btn.btn-success(href=makePublic)
            span.fa.fa-unlock
            |  Make Public
        br
        br
    if meta.triplestore != 'public' 
        a.btn.btn-success(href=remove)
            span.fa.fa-remove
            |  Remove
        br
        br
    a.btn.btn-success(href=createImplementation)
        span.fa.fa-cubes
        |  Create Implementation
    br
    br
    if meta.remote
        a.btn.btn-success(href=copyFromRemote)
            span.fa.fa-share-alt
            |  Copy to SynBioHub
        br
        br
    if BenchlingRemotes
        a.btn.btn-success(href=benchling)
            span.fa.fa-send
            |  Send to Benchling
        br
        br
    if ICERemotes
        a.btn.btn-success(href=ice)
            span.fa.fa-send
            |  Send to ICE
        br
        br
    if config.experimental.dataIntegration
        a.btn.btn-primary(href=dataIntegrationUrl,title='Integrate data from an integration pipeline')
            span.fa.fa-plus-circle
            | Data Integration
        br
        br
