
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Copy


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-copy
            p(style='font-size: 1.7em; font-weight: bolder')
                | Copy From Remote
            p
                | #[span(style='font-weight: bolder;') Bold fields] are required

            ul.nav.nav-tabs(role="tablist")
                li.active(role="presentation")
                    a(data-toggle="tab", href="#existing", role="tab", aria-controls="existing") Copy to Existing Collection
                li(role="presentation")
                    a(data-toggle="tab", href="#new", role="tab", aria-controls="new") Copy to New Collection
            
            div.tab-content
                div.tab-pane.active#existing(role="tabpanel")
                    form.form(action=submission.actionURI,method='post',enctype='multipart/form-data')
                        if errors.length > 0
                            each error in errors
                                div.alert.alert-danger
                                    p #{error}
                                br
                        
                        br
                        input(type="hidden", name="copyType", value="existing")
                        div.row
                            div.col-sm-12
                                div.form-group
                                    label(for="collections") Destination Collection
                                    select.form-control(name='collections' id='collections')
                                        option(value="") Choose a collection...
                                        for collection in collections
                                            option(value=collection.uri) #{collection.name}
                        div.row
                            div.col-sm-12
                                div.checkbox(style="margin-left:20px")
                                    label 
                                        input#overwrite_objects(type="checkbox", name="overwrite_objects", value=false, checked=false)
                                        |    Overwrite Existing Objects
                        div.row
                            div.col-md-12
                                button(type='submit').btn.btn-primary.btn-lg Copy


                div.tab-pane#new(role="tabpanel")
                    form.form(action=submission.actionURI,method='post',enctype='multipart/form-data')
                        if errors.length > 0
                            each error in errors
                                div.alert.alert-danger
                                    p #{error}
                                br
                        br
                        input(type="hidden", name="copyType", value="new")
                        div.row
                            div.col-md-6
                                div.form-group
                                    label(for="id") Collection ID
                                    input.form-control(type='text', id="id", name='id',placeholder='Collection ID',value=submission.id)
                            div.col-md-6
                                div.form-group
                                    label(for='version') Version
                                    input.form-control(type='text', id='version', name='version',placeholder='Version',value=submission.version)
                        div.row
                            div.col-md-12
                                div.form-group
                                    label(for="name") Name
                                    input.form-control(name='name',id="name",placeholder='Name',value=submission.name)

                        div.row
                            div.col-md-12
                                div.form-group
                                    label(for="description") Description
                                    textarea.form-control(name='description', id="description"
                                            placeholder='The more you say, the easier it will be to find your design...')
                                            | #{submission.description}
                        div.row
                            div.col-md-12
                                div.form-group
                                    label(for="citations") Citations
                                    input.form-control(name='citations', id="citations"
                                                       placeholder='Comma separated Pubmed IDs, we\'ll do the rest!'
                                                       value=submission.citations)

                        div.row
                            div.col-md-12
                                div.checkbox(style="margin-left:20px")
                                    label 
                                        input#overwrite_objects(type="checkbox", name="overwrite_objects", value=false, checked=false)
                                        |    Overwrite Existing Objects
                        div.row
                            div.col-md-12
                                button(type='submit').btn.btn-primary.btn-lg Copy