
extends ../layouts/default.jade

include ../mixins/blast-button.jade

block jsState
    script meta = 
        != JSON.stringify(meta)

block breadcrumbs
    ul
        li.inactive
            a(href='/search')
                span.fa.fa-search
                    |  Search

        li
            | Make Submission Public

block content
    div.submission-detail.container-fluid

        div.row
            div.col-md-12
                p
                    | Making 
                    a(href=meta.url) #{meta.name} 
                    | public will also publicize the following entries:

        div.row
            div.col-md-12
                table.table
                    th Name
                    th URI
                    for entry in entries
                        tr
                            td
                                a(href=entry.url)
                                    | #{entry.name}
                            td #{entry.uri}




