
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Make Public


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-unlock
            p(style='font-size: 1.7em; font-weight: bolder')
                | Make Public
            p
                | #[span(style='font-weight: bolder;') Bold fields] are required
        
        form(action=submission.actionURI,method='post',enctype='multipart/form-data').submission-form
        
            if errors.length > 0
                div.alert.alert-danger
                    each error in errors
                        p #{error}
                        br
        
            div.clearfix

            div.form-group-100.required(style='text-align: left;')
                label Add to an Existing Collection
                br
                div.row
                    div.col-sm-2
                        input(type="radio", name="overwrite_merge", value="2", checked=true)

            div.clearfix

            br
            br

            div.form-group-200.required
                label Collections
                br
                select(name='collections' style="width:650px;" id='collections' data-placeholder='Select Some Collections').chosen-select
                    for collection in collections
                        option(value=collection.uri) #{collection.name}

            div.clearfix

            br
            br

            div.form-group-100.required(style='text-align: left;')
                label Create a New Collection
                br
                div.row
                    div.col-sm-2
                        input(type="radio", name="overwrite_merge", value="0")

            div.clearfix

            br
            br

            div.form-group-50.required
                label Id
                br
                input(type='text', name='id',placeholder='Submission Id',value=submission.id)

            div.form-group-50.required
                label Version
                br
                input(type='text', name='version',placeholder='Version',value=submission.version)


            button(type='submit').btn.btn-primary.btn-lg
                | Make Public

                

