
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Make Public


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-unlock
            p(style='font-size: 1.7em; font-weight: bolder')
                | Make Public
            p
                | #[span(style='font-weight: bolder;') Bold fields] are required
        
        form(action=submission.actionURI,method='post',enctype='multipart/form-data').submission-form
            input(type="hidden", name="tabState", id="tabState", value="existing")
            if errors.length > 0
                each error in errors
                    div.alert.alert-danger
                        p #{error}
                    br
        
            div.clearfix

            ul.nav.nav-tabs(role="tablist")
                li.active(role="presentation")
                    a(data-toggle="tab", href="#existing", role="tab", aria-controls="existing", onclick="$('#tabState').val('existing')") Copy to Existing Collection
                li(role="presentation")
                    a(data-toggle="tab", href="#new", role="tab", aria-controls="new", onclick="$('#tabState').val('new')") Copy to New Collection


            div.tab-content
                div.tab-pane.active#existing(role="tabpanel")
                    br
                    div.form-group-200.required
                        label Collections
                        br
                        select.form-control(name='collections' style="width:650px;" id='collections' data-placeholder='Select Some Collections')
                            option(value="") Choose a collection...
                            for collection in collections
                                option(value=collection.uri) #{collection.name}

                div.tab-pane#new(role="tabpanel")
                    br
                    div.form-group-50.required
                        label Id
                        br
                        input(type='text', name='id',placeholder='Submission Id',value=submission.id)

                    div.form-group-50.required
                        label Version
                        br
                        input(type='text', name='version',placeholder='Version',value=submission.version)

                    div.form-group-100.required
                        label Name
                        br
                        input(name='name',placeholder='Name',value=submission.name)

                    div.form-group-100.required
                        label Description
                        br
                        textarea(name='description'
                            placeholder='The more you say, the easier it will be to find your design...')
                                | #{submission.description}

                    div.clearfix

                    div.form-group-100
                        label Citations
                        br
                        input(name='citations'
                                placeholder='Comma separated Pubmed IDs, we\'ll do the rest!'
                                value=submission.citations)

            div.clearfix

            br
            br

            button(type='submit').btn.btn-primary.btn-lg
                | Make Public

                

