
extends ../layouts/topLevel.jade

block topLevelPropertyTable
    tr
        td Language
        td
            a(href=meta.language.uri.toString(),title=meta.language.name) #{meta.language.name}
            br
        td
            a(href='/search/language=<'+encodeURIComponent(meta.language.uri)+'>&',title=meta.language.name) #{'Search'}
            br
    tr  
        td Framework
        td
            a(href=meta.framework.uri.toString(),title=meta.framework.name) #{meta.framework.name}
            br
        td
            a(href='/search/framework=<'+encodeURIComponent(meta.framework.uri)+'>&',title=meta.framework.name) #{'Search'}
            br
    tr
        td Model File
        td
            a(href=meta.modelSource.toString(),title=meta.modelSource) #{meta.modelSource.toString()}
            br
        td

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    br
    br
    if meta.triplestore === 'public'
        a.btn.btn-primary(href=searchUsesUrl)
            span.fa.fa-search
            | 
            span Find Uses
        br
        br
    if meta.triplestore != 'public'
        a.btn.btn-success(href=meta.url + '/makeTopLevelPublic')
            span.fa.fa-unlock
                |  Make Public
        br
        br
        a.btn.btn-success(href=meta.url + '/remove')
            span.fa.fa-unlock
                |  Remove
        br
        br
