
extends ../layouts/topLevel.jade

block topLevelPropertyTable
    tr
        td Language
        td
            a(href=meta.language.uri.toString(),title=meta.language.name) #{meta.language.name}
            br
        td
            a(href='/search/language=<'+encodeURIComponent(meta.language.uri)+'>&',title=meta.language.name) #{'Search'}
            br
    tr  
        td Framework
        td
            a(href=meta.framework.uri.toString(),title=meta.framework.name) #{meta.framework.name}
            br
        td

