
extends ../layouts/topLevel.jade

block topLevelPropertyTable
    tr
        td 
            | Language
            a(href='http://sbolstandard.org/v2#language',title='Learn more about languages') 
                span.fa.fa-info-circle
        td
            a(href=meta.language.uri.toString(),title=meta.language.name) #{meta.language.name}
            br
        td
            a(href='/search/language=<'+encodeURIComponent(meta.language.uri)+'>&',title='Find all records with this language')
                span.fa.fa-search
            br
    tr  
        td 
            | Framework
            a(href='http://sbolstandard.org/v2#language',title='Learn more about frameworks') 
                span.fa.fa-info-circle
        td
            a(href=meta.framework.uri.toString(),title=meta.framework.name) #{meta.framework.name}
            br
        td
            a(href='/search/framework=<'+encodeURIComponent(meta.framework.uri)+'>&',title='Find all records with this framework')
                span.fa.fa-search
            br
    tr
        td 
            | Model File
            a(href='http://sbolstandard.org/v2#source',title='Learn more about sources') 
                span.fa.fa-info-circle
        td
            a(href=meta.modelSource.toString(),title=meta.modelSource) #{meta.modelSourceName.toString()}
            br
        td
