
extends ../layouts/topLevel.jade

block topLevelPropertyTable
    if modules.length > 0 
        tr
            td Modules
            td Identifier
            td Name
        tr
            td
                for module in modules
                    | Module
                    br
            td
                for module in modules
                    a(href=module.url) #{module.defId}
                    br
            td
                for module in modules
                    a(href=module.url) #{module.defName}
                    br
    if functionalComponents.length > 0
        tr
            td FunctionalComponents
            td Identifier
            td Name
        tr
            td
                for functionalComponent in functionalComponents
                    != functionalComponent.typeStr
                    br
            td
                for functionalComponent in functionalComponents
                    a(href=functionalComponent.url) #{functionalComponent.defId}
                    br
            td
                for functionalComponent in functionalComponents
                    a(href=functionalComponent.url) #{functionalComponent.defName}
                    br
    if models.length > 0 
        tr
            td Models
            td
                for model in models
                    if (model.url)
                        a(href=model.url) #{model.id}
                    else
                        a(href=model.toString()) #{model.toString()}
                    br
            td(nowrap="nowrap") 
                for model in models
                    if (model.version)
                        != 'Version '+model.version
                    br
                    if collections.length > 0
                        tr
                            td In Collections
                            td
                                for collection in collections
                                    a(href=collection.url,title=collection.name) #{collection.name}
                                    br
                            td
                                for collection in collections
                                    a(href='/search/collection=<'+encodeURIComponent(collection.uri)+'>&') #{'Search'}
                                    br

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design


