
extends ../layouts/topLevel.jade

block topLevelPropertyTable
    if modules.length > 0 
        tr
            td Modules
            td Identifier
            td Name
        tr
            td
                for module in modules
                    | Module
                    br
            td
                for module in modules
                    a(href=module.url) #{module.defId}
                    br
            td
                for module in modules
                    a(href=module.url) #{module.defName}
                    br
    if functionalComponents.length > 0
        tr
            td 
                a(href='http://sbols.org/v2#FunctionalComponent', title='http://sbols.org/v2#FunctionalComponent') FunctionalComponent
            td Identifier
            td Name
        tr
            td
                for functionalComponent in functionalComponents
                    != functionalComponent.typeStr
                    br
            td
                for functionalComponent in functionalComponents
                    a(href=functionalComponent.url) #{functionalComponent.defId}
                    br
            td
                for functionalComponent in functionalComponents
                    a(href=functionalComponent.url) #{functionalComponent.defName}
                    br
    if interactions.length > 0
        for interaction in interactions
            tr
                td 
                    a(href='http://sbols.org/v2#Interaction', title='http://sbols.org/v2#Interaction') Interaction
                td
                    != interaction.defName
                td
                    a(href=interaction.typeURL, title=interaction.typeURL) #{interaction.typeStr}
            if interaction.participations.length > 0
                for participation in interaction.participations
                    tr
                        td 
                            a(href='http://sbols.org/v2#Participation', title='http://sbols.org/v2#Participation') &nbsp; Participation
                        td 
                            a(href=participation.participant.url, title=participation.participant.url) #{participation.participant.defName}
                        td 
                            a(href=participation.roleURL, title=participation.roleURL) #{participation.roleStr}
            
    if models.length > 0 
        tr
            td 
                a(href='http://sbols.org/v2#Model', title='http://sbols.org/v2#Model') Model
            td
                for model in models
                    if (model.url)
                        a(href=model.url) #{model.id}
                    else
                        a(href=model.toString()) #{model.toString()}
                    br
            td(nowrap="nowrap") 
                for model in models
                    if (model.version)
                        != 'Version '+model.version
                    br

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design

block topLevelButtons
    a.btn.btn-primary(href=sbolUrl)
        span.fa.fa-download
        |  Download SBOL File
        br
        br
    if meta.triplestore === 'public'
        a.btn.btn-primary(href=searchUsesUrl)
            span.fa.fa-search
            |  Find Uses
            br
            br
    if meta.triplestore != 'public'
        a.btn.btn-success(onclick="popup()")
            span.fa.fa-share
            |  Share
            br
            br
    if meta.triplestore != 'public' && locals.user && locals.user.isCurator
        a.btn.btn-success(href=makePublic)
            span.fa.fa-unlock
                |  Make Public
                br
                br
    if meta.triplestore != 'public'
        a.btn.btn-success(href=meta.url + '/remove')
            span.fa.fa-remove
            |  Remove