
extends ../layouts/topLevel.jade

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design

block topLevelPropertyTable
    if modules.length > 0 
        tr
            td Modules
            td Identifier
            td Name
        tr
            td
                for module in meta.modules
                    | Module
                    br
            td
                for module in meta.modules
                    a(href=module.url) #{module.defId}
                    br
            td
                for module in meta.modules
                    a(href=module.url) #{module.defName}
                    br
    if !meta.displayList && functionalComponents.length > 0
        tr
            td FunctionalComponent
            td Identifier
            td Name
        tr
            td
                for functionalComponent in meta.functionalComponents
                    != functionalComponent.typeStr
                    br
            td
                for functionalComponent in meta.functionalComponents
                    a(href=functionalComponent.url) #{functionalComponent.defId}
                    br
            td
                for functionalComponent in meta.functionalComponents
                    a(href=functionalComponent.url) #{functionalComponent.defName}
                    br
    if !meta.displayList && interactions.length > 0
        for interaction in meta.interactions
            tr
                td Interaction
                td
                    != interaction.defName
                td
                    a(href=interaction.typeURL, title=interaction.typeURL) #{interaction.typeStr}
            if interaction.participations.length > 0
                for participation in interaction.participations
                    tr
                        td Participation
                        td 
                            a(href=participation.participant.url, title=participation.participant.url) #{participation.participant.defName}
                        td 
                            a(href=participation.roleURL, title=participation.roleURL) #{participation.roleStr}
            
    if meta.models.length > 0 
        tr
            td Model
            td
                for model in meta.models
                    if (model.url)
                        a(href=model.url) #{model.id}
                    else
                        a(href=model.toString()) #{model.toString()}
                    br
            td(nowrap="nowrap") 
                for model in meta.models
                    if (model.version)
                        != 'Version '+model.version
                    br

block topLevelPreview
    if meta.displayList
        div.row
            div.col-md-12.text-center
            div#design
