
extends ../layouts/topLevel.jade

include ../mixins/blast-button.jade

block topLevelBelowPropertyTable
    if meta.elements
        div.row
            div.col-md-12
                div.pull-right
                    +blast-button(meta)
                h4 Sequence (#{meta.length} #{meta.lengthUnits})
                    a(href=meta.encoding,title=meta.type)
                        span.fa.fa-info-circle
                pre #{meta.formatted}
