
extends ../layouts/topLevel.jade

include ../mixins/blast-button.jade

block topLevelPreview
    if meta.elements
        div.row
            div.col-md-8
                div.pull-right
                    +blast-button(meta)
                h4 Sequence (#{meta.length} #{meta.lengthUnits})
                pre #{meta.formatted}

block topLevelButtons
    a.btn.btn-primary.btn-lg(href=sbolUrl)
        span.fa.fa-download
        | 
        span Download SBOL File
    a.btn.btn-primary.btn-lg(href=fastaUrl)
        span.fa.fa-download
        | 
        span Download FASTA
    if meta.triplestore === 'public'
        a.btn.btn-primary.btn-lg(href=searchUsesUrl)
            span.fa.fa-search
            | 
            span Find Uses
    if meta.triplestore != 'public'
        a.btn.btn-success.btn-lg(onclick="popup()")
            span.fa.fa-share
            |  Share
    if meta.triplestore != 'public' && locals.user && locals.user.isCurator
        a.btn.btn-success.btn-lg(href=makePublic)
            span.fa.fa-unlock
                |  Make Public
    if meta.triplestore != 'public'
        a.btn.btn-success.btn-lg(href=meta.url + '/remove')
            span.fa.fa-remove
                |  Remove