
extends ../layouts/base.jade

block body
    center
        img(src='../images/sbolhub_logo_sl_dark.svg',width=900)
    div.setup
        h1 Congratulations, SynBioHub is successfully installed!

        div.text-center
            p We just need a few more details to configure your SynBioHub instance.

        br

        if errors.length > 0
            div.alert.alert-danger
                each error in errors
                    p #{error}
                    br

        form(action='/setup',method='post',enctype='multipart/form-data')

            h2 1. Brand your SynBioHub
            div.form-group
                label Instance Name
                    input.form-control(name='instanceName',value=settings.instanceName)
                p
                    i Try to choose something descriptive to identify the kind of parts your SynBioHub instance will store.  Don't worry, you can change this later.
                br
                label Pick a Color
                    input.form-control(type='color',name='color',value=settings.color)#setupColor
                p
                    i This color will be used to theme your SynBioHub instance.
                br
                label Write a Welcome Message
                textarea.form-control(name='frontPageText', form-id='themeForm', rows='6') #{config.frontPageText}
                p
                    i This message will be displayed on the home page of your SynBioHub instance.
                br
                label Upload a Logo
                    input(type='file',name='logo')
                p
                    i For best results, upload an SVG or high resolution PNG.
            
            div.checkbox 
                label
                    input(type="checkbox", name="allowPublicSignup", checked=config.allowPublicSignup)
                    | Allow public account creation

            br
            h2 2. Some technical details
            div.form-group
                p
                    | We need to know where this SynBioHub instance is hosted so we can assign URLs to your submissions.  The instance URL has been automatically guessed as
                    b  #{settings.instanceUrl}
                    |, but if this is incorrect, please change it here.
                label Instance URL
                    input.form-control(name='instanceURL',value=settings.instanceUrl)
                p
                    | We need to know where the Virtuoso INI is stored. We have guessed it to be
                    b  #{config.triplestore.virtuosoINI}
                    |, but if this is incorrect, please change it here.
                label Virtuoso INI
                    input.form-control(name='virtuosoINI',value=config.triplestore.virtuosoINI)
                p
                    | We need to know the location of the Virtuoso DB directory. We have guessed it to be
                    b  #{config.triplestore.virtuosoDB}
                    |, but if this is incorrect, please change it here.
                label Instance URL
                    input.form-control(name='virtuosoDB',value=config.triplestore.virtuosoDB)
            br
            h2 3. Create your first user account
            div.form-group
                label Username
                    input.form-control(name='userName',value=settings.userName,placeholder='john')
                br
                label Full Name
                    input.form-control(name='userFullName',value=settings.userFullName,placeholder='John Doe')
                br
                label Affiliation
                    input.form-control(name='affiliation',value=settings.affiliation,placeholder='Affiliation (optional)')
                br
                label E-mail address
                    input.form-control(name='userEmail',value=settings.userEmail,placeholder='john@example.com')
                br
                label Password
                    input.form-control(type='password',name='userPassword',autocomplete='new-password')
                br
                label Password (again)
                    input.form-control(type='password',name='userPasswordConfirm',autocomplete='new-password')

            div.text-center
                input(type='submit',value='Continue').btn.btn-primary.setup-done


