
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Submit


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='color: #D25627; font-size: 3.3em').fa.fa-cloud-upload
            p(style='font-size: 1.7em; font-weight: bolder')
                | Tell us about your submission
            p
                | #[span(style='color: #D25627; font-weight: bolder;') Orange fields] are required
        
        form(action=submission.actionURI,method='post',enctype='multipart/form-data').submission-form
        
            if errors.length > 0
                div.alert.alert-danger
                    each error in errors
                        p #{error}
                        br

            if submission.type == 'acs'
                div(style='margin: 0 auto').form-group-100.required
                    label ACS submission ID
                    input(name='acs',type='text',value=submission.acs)
        
            div.clearfix

            div.form-group-50.required
                label Id
                br
                input(name='id',placeholder='Submission Id',value=submission.id)

            div.form-group-50.required
                label Version
                br
                input(name='version',placeholder='Version',value=submission.version)

            div.form-group-100.required
                label Name
                br
                input(name='name',placeholder='Submission Name',value=submission.name)

            div.form-group-100.required
                label Description
                br
                textarea(name='description'
                    placeholder='The more you say, the easier it will be to find your design...')
                        | #{submission.description}

            div.clearfix

            div.form-group-100
                label Citations
                br
                input(name='citations'
                        placeholder='Comma separated Pubmed IDs, we\'ll do the rest!'
                        value=submission.citations)

            div.form-group-100
                label Keywords
                br
                input(name='keywords'
                        placeholder='Comma separated descriptors'
                        value=submission.keywords)

            div.form-group-100.required
                label SBOL/GenBank/FASTA File
                br
                input(type='file',name='file',value=submission.file)

            div.form-group-50.required
                label If Existing:
                br
                label.radio.inline
                    input(type="radio", name="overwrite_merge", value="0", checked=true)
                    | Prevent submission
                label.radio.inline
                    input(id="om", type="radio", name="overwrite_merge", value="1", checked=overwrite=="Overwrite")
                    | Overwrite submission
                label.radio.inline
                    input(type="radio", name="overwrite_merge", value="2", checked=overwrite=="Merge")
                    | Merge and prevent, if member of collection exists
                label.radio.inline
                    input(type="radio", name="overwrite_merge", value="3", checked=overwrite=="Merge")
                    | Merge and replace, if member of collection exists.

            div.clearfix

            br
            br

            button(type='submit').btn.btn-primary.btn-lg
                | Submit






                

