
mixin attachments(url, attachments, canEdit)
    if typeof(attachments) !== 'undefined' && (canEdit || attachments.length > 0)
        form#sbh-attachment-upload(method='post',enctype='multipart/form-data',action=url + '/attach')

        table.attachments-table.table.table-striped
            thead
                th Type
                th Name
                th Size
                th
                th
            tbody
                for attachment in attachments
                    tr
                        td #{attachment.image?'Image':attachment.type}
                        td
                            a(href=attachment.url) #{attachment.name}
                        td
                            if attachment.sizeString
                                | #{attachment.sizeString}
                        td
                            a(href=attachment.url + '/download')
                                button.btn.btn-primary
                                    span.fa.fa-download
                                    |  Download
                        td
                            button.btn.btn-danger.remove-attachment
                                span.fa.fa-trash
                if canEdit
                    tr
                        td
                            | Upload attachment
                        td(colspan=2)
                            div.input-group
                                input(type="text",class="form-control",form="sbh-attachment-upload",readonly)
                                label.input-group-btn
                                    span.btn.btn-primary
                                        | Select file(s)&hellip;
                                        input(type="file",name="file",style="display: none;",multiple,form="sbh-attachment-upload")
                        td(colspan=2)
                            button.btn.btn-success(type='submit',style='width:100%;',form="sbh-attachment-upload") Attach
                    div.row
                        form#sbh-attachment-lookup(method='post', action=url + '/attachUrl')
                            tr
                                td
                                    | Lookup Attachment
                                td(colspan=2)
                                    div.row
                                        div.col-md-12
                                            input.form-control(type="text", name="url", placeholder="URL", form="sbh-attachment-lookup")
                                    div.row(style="margin-top: 10px")
                                        div.col-md-6
                                            input.form-control(type="text", name="name", placeholder="Name", form="sbh-attachment-lookup")
                                        div.col-md-6
                                            select(name="type", style='width: 100%').chosen-select
                                                option(selected="true") Pick an attachment type...
                                                for t in attachmentTypes
                                                    option(value=t.uri) #{t.name}
                                td(colspan=2)
                                    button.btn.btn-success.btn-block(type='submit',style='width:100%;',form="sbh-attachment-lookup",disabled) Attach
