
mixin collection-item(collection)
    div.search-result-item

        div.ribbon-wrapper
            if collection.public
            else
                div.ribbon-private Private

        if collection.icon
            img.sbh-collection-box-icon(src=collection.icon)

        div(style="margin-right: 100px;")
            if collection.remote
                span.fa.fa-globe.sbh-remote-icon
            a(href=collection.url) #{collection.name?collection.name:collection.displayId}

            p version #{collection.version}

            div.keywords
                if collection.description != ''
                    strong #{collection.description}
            br

        div.clearfix


