
mixin mutable-description(src, desc, canEdit)
    div#sbh-description(data-src=src)
        if (desc == '') 
            if canEdit
                h4
                    a#sbh-add-description(href='#')
                        span.fa.fa-plus
                        i  Add description...
        else
            div.row
                if canEdit
                    div.pull-left
                        a(href='#')
                            span.fa.fa-pencil#sbh-edit-description
                | <h2>Description</h2>
                | !{desc}
                br

mixin mutable-notes(src, notes, canEdit)
    div#sbh-notes(data-src=src)
        if (notes == '') 
            if canEdit
                h4
                    a#sbh-add-notes(href='#')
                        span.fa.fa-plus
                        i  Add notes...
        else
            div.row
                if canEdit
                    div.pull-left
                        a(href='#')
                            span.fa.fa-pencil#sbh-edit-notes
                | <h3>Notes</h3>
                | !{notes}
                br

mixin mutable-source(src, source, canEdit)
    div#sbh-source(data-src=src)
        if (source == '') 
            if canEdit
                h4
                    a#sbh-add-source(href='#')
                        span.fa.fa-plus
                        i  Add source...
        else
            div.row
                if canEdit
                    div.pull-left
                        a(href='#')
                            span.fa.fa-pencil#sbh-edit-source
                | <h3>Source</h3>
                | !{source}
                br

                
