
mixin search-result(submission)
    div.search-result-item

        div.ribbon-wrapper
            if submission.triplestore == 'public'
                div.ribbon-public Public
            else
                div.ribbon-private Private

        a(href=submission.url) #{submission.name}

        if submission.prefix
            br
            | #{submission.prefix}

        div.keywords
            if submission.description != ''
                strong #{submission.description}
        br

        //button(type='button',data-designid=submission.id).btn.btn-default.journal-btn Submit to Journal

        if submission.triplestore != 'public'
            a(href='/entry/' + submission.base64Uri + '/makePublic')
                button(type='button').btn.btn-success.public-btn Make Public


