
mixin search-result-component-definition(submission)
    div.search-result-item

        div.ribbon-wrapper
            if submission.triplestore == 'public'
                div.ribbon-public Public
            else
                div.ribbon-private Private

        if submission.name && submission.name != submission.displayId
            a(href=submission.url) #{submission.displayId} (#{submission.name})
        else
            a(href=submission.url) #{submission.displayId}

        p version #{submission.version}

        div.keywords
            if submission.description != ''
                strong #{submission.description}
        br

        //button(type='button',data-designid=submission.id).btn.btn-default.journal-btn Submit to Journal

        //if submission.triplestore != 'public'
        //    a(href=submission.url + '/makePublic')
        //        button(type='button').btn.btn-success.public-btn Make Public
        //    | 
        //    a(href=submission.url + '/removeSubmission')
        //        button(type='button').btn.btn-success.remove-btn Remove
        //    | 
        //    a(href=submission.url + '/cloneSubmission')
        //        button(type='button').btn.btn-success.clone-btn Copy


mixin search-result-collection(submission,removePublicEnabled)
    div.search-result-item

        div.ribbon-wrapper
            if submission.triplestore == 'public'
                div.ribbon-public Public
            else
                div.ribbon-private Private

        if submission.name
            a(href=submission.url) #{submission.displayId} (#{submission.name})
        else
            a(href=submission.url) #{submission.displayId}

        p version #{submission.version}

        div.keywords
            if submission.description != ''
                strong #{submission.description}
        br

        //button(type='button',data-designid=submission.id).btn.btn-default.journal-btn Submit to Journal

        if submission.triplestore != 'public'
            if locals.user && locals.user.isCurator
                a(href=submission.url + '/makePublic')
                    button(type='button').btn.btn-success.public-btn Make Public
                | 
            a(href=submission.url + '/removeCollection')
                button(type='button', onclick="return confirm('Are you sure you want to remove this collection?')").btn.btn-success.remove-btn Remove
            | 
            a(href=submission.url + '/cloneSubmission')
                button(type='button').btn.btn-success.clone-btn Copy
        else if removePublicEnabled
            a(href=submission.url + '/removeCollection')
                button(type='button', onclick="return confirm('Are you sure you want to remove this collection?')").btn.btn-success.remove-btn Remove

