
extends ../layouts/default.jade

include ../mixins/blast-button.jade
include ../mixins/mutable-fields.jade
include ../mixins/attachments.jade
include ../mixins/citations.jade

block jsState
    script meta = 
        != JSON.stringify(meta)

    script.
        function popup() {
            popupS.modal({
                content: '<div class="form-group"><label for="share">Copy the following link to share</label><input id="share" type="text" class="form-control" style="width:30em;" readonly value="#{share}"/></div>',
            });
        }

block breadcrumbs
    ul
        li.inactive
            a(href='/search')
                span.fa.fa-search
                |  Search
        li
            a(href=meta.url) #{meta.uri} 

block content

    div.clearfix

    div.submission-detail.container-fluid

        div.row.entry-heading
            div.col-sm-5.entry-title
                h1 #{meta.name?meta.name:meta.id} 
                    if meta.sbhBookmark && meta.sbhBookmark.description == 'true'
                        a(href='http://wiki.synbiohub.org/Terms/synbiohub#bookmark',title='Bookmarked Parts')
                            span.fa.fa-bookmark
                    if meta.sbhStar && meta.sbhStar.description == 'true'
                        a(href='http://wiki.synbiohub.org/Terms/synbiohub#star',title='Starred Parts')
                            span.fa.fa-star

                if locals.remote 
                    h4 #{'Mirrored from '}
                        a(href=locals.remote.url,title='Edit in ' + locals.remote.name) #{locals.remote.name}

                if meta.id && meta.id != ''
                    h4 #{meta.id}
                        a(href='/search/displayId=\''+meta.id+'\'&',title='Find all records with the same identifier') 
                            span.fa.fa-search 
                        if meta.version && meta.version != ''
                            != 'Version '+meta.version
                            a(href='/search/persistentIdentity=<'+encodeURIComponent(meta.pid)+'>&',title='Find all versions') 
                                span.fa.fa-search 
                        if rdfType
                            != ' (' + rdfType.name + ') '
                            a(href=rdfType.url,title='Learn more about this RDF type')
                                span.fa.fa-info-circle
                else 
                        if rdfType
                            h4 #{rdfType.name} 
                                a(href=rdfType.url,title='Learn more about this RDF type')
                                    span.fa.fa-info-circle

                if meta.igemDiscontinued && meta.igemDiscontinued.description == 'true'
                    h4(style=" color: #FF0000") This part has been discontinued.
                if meta.isReplacedBy && meta.isReplacedBy.uri != ''
                    h4(style=" color: #FF0000") Please consider using 
                        a(href=meta.isReplacedBy.uri) #{meta.isReplacedBy.id}
                        | as a replacement.

            if (collectionIcon)
                div.col-sm-3.sbh-collection-icon
                    img(src=collectionIcon)

        div.row
            div.col-md-8

                if meta.wasDerivedFrom && meta.wasDerivedFrom != ''
                    h5 Source: 
                        a(href=meta.wasDerivedFrom.toString().startsWith(config.databasePrefix)?'/'+meta.wasDerivedFrom.toString().replace(config.databasePrefix,''):meta.wasDerivedFrom.toString()) #{meta.wasDerivedFrom}

                if meta.creator.description && meta.creator.description != ''
                    h5 Created by: 
                        != meta.creator.description
                        a(href='/search/dc:creator=\''+meta.creator.description+'\'&',title='Find all records created by this person') 
                            span.fa.fa-search
       
                if meta.created.description && meta.created.description != ''
                    h5 Date created: 
                        != meta.created.description
                        a(href='/search/createdBefore='+meta.created.description.split(' ')[0]+'&createdAfter='+meta.created.description.split(' ')[0]+'&',title='Find all records created on this date') 
                            span.fa.fa-search

                if meta.modified.description && meta.modified.description != ''
                    h5 Date modified: 
                        != meta.modified.description 
                        a(href='/search/modifiedBefore='+meta.modified.description.split(' ')[0]+'&modifiedAfter='+meta.modified.description.split(' ')[0]+'&',title='Find all records modified on this date') 
                            span.fa.fa-search

                if meta.description && meta.description != ''
                    h4
                        != meta.description 
                        a(href='/search/?q='+meta.description,title='Find all records with terms in common with this description')
                            span.fa.fa-search

                block topLevelBelowTitle

                table.table.table-striped.entry-detail-table

                    if meta.labels && meta.labels.length > 0
                        tr
                            td Labels
                            td #{meta.labels.join(', ')}

                    if meta.types && meta.types.length > 0
                        tr
                            td Types
                            td 
                                for type in meta.types
                                    if type.description 
                                       != type.description.name
                                       a(href=type.term,title='Learn more about this type') 
                                           span.fa.fa-info-circle
                                       a(href='/search/type=<'+encodeURIComponent(type.uri)+'>&',title='Find all records with this type') 
                                           span.fa.fa-search
                                    else 
                                       != type.uri 
                                       a(href=type.uri,title='Learn more about this type') 
                                           span.fa.fa-info-circle
                                       a(href='/search/type=<'+encodeURIComponent(type.uri)+'>&',title='Find all records with this type') 
                                           span.fa.fa-search
                                    br

                    if meta.roles && meta.roles.length > 0
                        tr
                            td Roles
                            td
                                for role in meta.roles
                                    if role.description
                                        != role.description.name
                                        a(href=role.term,title='Learn more about this role') 
                                            span.fa.fa-info-circle
                                        a(href='/search/role=<'+encodeURIComponent(role.uri)+'>&',title='Find all records with this role') 
                                            span.fa.fa-search
                                    else 
                                        != role.term 
                                        a(href=role.uri,title='Learn more about this role') 
                                            span.fa.fa-info-circle
                                        a(href='/search/role=<'+encodeURIComponent(role.uri)+'>&',title='Find all records with this role') 
                                            span.fa.fa-search
                                    br

                    block topLevelPropertyTable

                block topLevelBelowPropertyTable

            div.col-md-4.entry-actions
                block topLevelButtons
                if meta.triplestore != 'public'
                    a.btn.btn-info(href=meta.url + "/addOwner")
                        span.fa.fa-id-card
                        |  Add owner
                    br
                    br

        block topLevelPreview

        +mutable-description(meta.mutableDescriptionSource, meta.mutableDescription, canEdit)
        +mutable-notes(meta.mutableNotesSource, meta.mutableNotes, canEdit)
        +mutable-source(meta.sourceSource, meta.source, canEdit)
        +citations(citationsSource, submissionCitations, canEdit) 
				    
        if collections.length > 0
            div.row.entry-heading
                div.col-sm-5.entry-title
                    | <h3>Member of these Collections</h3>

            div.row
                div.col-md-8
                    table.table.table-striped.entry-detail-table
                        tr
                            td
                                for collection in collections
                                    a(href=collection.url,title=collection.name) #{collection.name} &nbsp;
                                        a(href='/search/collection=<'+encodeURIComponent(collection.uri)+'>&',title='Find all records in this collection')
                                            span.fa.fa-search
                                    br

        if annotations && annotations.length > 0
            div.row.entry-heading
                div.col-sm-5.entry-title
                    | <h3>Other Properties</h3>

            div.row
                div.col-md-8
                    table.table.table-striped.entry-detail-table
                        for annotation in annotations
                            tr
                                td #{annotation.name}
                                    a(href=annotation.nameDef,title='Learn more about this annotation type') 
                                       span.fa.fa-info-circle
                                if (annotation.type === 'uri')
                                    td #{annotation.value}
                                        a(href=annotation.url,title='Learn more about this annotation value') 
                                            span.fa.fa-info-circle &nbsp;
                                        a(href = '/search/<' + encodeURIComponent(annotation.nameDef) + '>=<' + encodeURIComponent(annotation.uri) + '>&', title = 'Find all records with this annotation')
                                            span.fa.fa-search
                                else 
                                    td #{annotation.value.toString()} &nbsp;
                                        a(href = '/search/<' + encodeURIComponent(annotation.nameDef) + '>=' + encodeURIComponent('\''+annotation.value.replace('\'','\\\'')+'\'') + '&', title = 'Find all records with this annotation')
                                            span.fa.fa-search
 
        div.row
            div.col-md-8
                +attachments(meta.url, meta.attachments, canEdit)

