
extends ../../layouts/admin.jade

block adminContent
    form(action='explorerUpdateIndex', method='POST', id="explorerButtons")
    form(action='/admin/explorer', method='POST', id="explorerForm")
        div.row 
            div.col-md-12 
                div.alert.alert-info 
                    span.fa.fa-check-circle-o 
                    span &nbsp; Note: Looks like SBOLExplorer is up and running :) Endpoint fields should end with '/', SynBioHub Public Graph should end with '/public', and SPARQL/Virtuoso Endpoint should end with '/sparql?'.
        div.row
            div.col-md-6
                div.form-group
                    label(for='SBOLExplorerEndpoint') SBOLExplorer Endpoint
                    input.form-control(type='text', name='SBOLExplorerEndpoint', value=config.SBOLExplorerEndpoint)
            div.col-md-6
                div.checkbox
                    label
                        input(type='checkbox', name="useSBOLExplorer", checked=config.useSBOLExplorer) 
                        | Searching Using SBOLExplorer

        button.btn.btn-info(type="submit", style="margin-right: 20px; margin-bottom:20px", form="explorerButtons") Update Index Now
        div.alert.alert-info 
                    span Start of last index update: #{explorerConfig.last_update_start}
                         br
                         | End of last index update: #{explorerConfig.last_update_end}

        div.row 
            div.col-md-12 
                div.checkbox
                    label
                        input(type='checkbox', name="useDistributedSearch", checked=explorerConfig.distributed_search) 
                        | Use Distributed Search
        div.row
            div.col-md-12
                div.form-group
                    label(for='pagerankTolerance') Pagerank Tolerance
                    input.form-control(type='text', name='pagerankTolerance', value=explorerConfig.pagerank_tolerance)
        div.row
            div.col-md-12
                div.form-group
                    label(for='uclustIdentity') UClust Clustering Identity
                    input.form-control(type='text', name='uclustIdentity', value=explorerConfig.uclust_identity)
        div.row
            div.col-md-12
                div.form-group
                    label(for='synbiohubPublicGraph') SynBioHub Public Graph
                    input.form-control(type='text', name='synbiohubPublicGraph', value=explorerConfig.synbiohub_public_graph)
        div.row
            div.col-md-6
                div.form-group
                    label(for='elasticsearchEndpoint') Elasticsearch Endpoint
                    input.form-control(type='text', name='elasticsearchEndpoint', value=explorerConfig.elasticsearch_endpoint)
            div.col-md-6
                div.form-group
                    label(for='elasticsearchIndexName') Elasticsearch Index Name
                    input.form-control(type='text', name='elasticsearchIndexName', value=explorerConfig.elasticsearch_index_name)
        div.row
            div.col-md-12
                div.form-group
                    label(for='sparqlEndpoint') SPARQL/Virtuoso Endpoint
                    input.form-control(type='text', name='sparqlEndpoint', value=explorerConfig.sparql_endpoint)
        div.row
            div.col-md-1.col-md-offset-11
                button.btn.btn-primary(type='submit') Save

