
extends ../../layouts/admin.jade

block modal
 div.modal.fade#registryModal(tabindex="-1", role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", arial-label="close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Add Registry
                div.modal-body
                    form.form#registryForm(method="POST", action="/admin/saveRegistry")
                        input.form-control(type="text", name="uri", placeholder="Registry URI Prefix")
                        br
                        input.form-control(type="text", name="url", placeholder="Registry URL")
                div.modal-footer
                    button.btn.btn-danger(data-dismiss="modal") Close
                    button.btn.btn-primary(type="submit", form="registryForm") Submit



block adminContent
    div.row
        div.col-sm-12
            h4 Web of Registries
    div.row
        if(registered)
            if(approved) 
                div.col-sm-6
                    div.alert.alert-success
                        span.fa.fa-check-circle-o
                        span &nbsp; #{config.instanceName} is part of the Web of Registries
            else
                div.col-sm-6
                    div.alert.alert-info
                        span.fa.fa-clock-o
                        span &nbsp; #{config.instanceName} pending approval by the Web of Registries Administrator
            div.col-sm-6
                if(updateWorking)
                    div.alert.alert-success
                        span.fa.fa-globe
                        span &nbsp; The Web of Registries can update #{config.instanceName}
                else
                    div.alert.alert-danger
                        span.fa.fa-ban
                        span &nbsp; The Web of Registries cannot update #{config.instanceName}

            form.form(action="setAdministratorEmail", method="POST")
                div.col-sm-4
                    input.form-control(type="text", name="administratorEmail", placeholder="Administrator Email", value=config.administratorEmail)
                div.col-sm-4
                    button.btn.btn-block.btn-info(type="submit")
                        span.fa.fa-pencil
                        span &nbsp; Edit Entry
            div.col-sm-4
                input#worUrl(type="hidden", value=wor)
                input#worId(type="hidden", value=worId)
                input#worSecret(type="hidden", value=secret)
                button.removeFromWoR.btn.btn-block.btn-danger 
                    span.fa.fa-trash
                    span &nbsp; Delete Entry
                    
        else
            if(errors.length > 0)
                div.col-12
                    h4 There are errors preventing your registration with the Web of Registries:
                each error in errors
                    div.alert.alert-danger
                        span.fa.fa-exclamation-circle
                        span &nbsp;&nbsp; #{error}
            else 
                form(method="POST", action="federate")
                    div.col-sm-4
                        input.form-control(type="text", name="webOfRegistries", placeholder="Web of Registries URL", value=config.webOfRegistriesUrl)
                    div.col-sm-4
                        input.form-control(type="text", name="administratorEmail", placeholder="Administrator Email", value=config.administratorEmail)
                    div.col-sm-4
                        input.btn.btn-primary.btn-block(type="submit", value="Submit") 
    hr

    div.row
        div.col-sm-8
            h4 Local Web of Registries
        div.col-4.pull-right
            form.form.form-inline(method="POST", action="retrieveFromWebOfRegistries")
                button.btn.btn-info(type="submit", style="margin-right: 20px;")
                    span.fa.fa-cloud-download
                    |  Retrieve from Web of Registries
                a.btn.btn-primary(data-toggle="modal", data-target="#registryModal") 
                    span.fa.fa-plus
                    |  Add Registry
    table.table.table-striped.sbh-registries-datatable
        thead
            tr
                th URI Prefix
                th SynBioHub URL
                th
                th
        tbody
            for registry in registries
                tr
                    td
                        input.form-control#uri(type='text',value=registry.uri,readonly="readonly")
                    td
                        input.form-control#url(type='text',value=registry.url)
                    td
                        button.btn.btn-success.btn-block.save-registry Save
                    td
                        button.btn.btn-danger.btn-block.delete-registry Delete



