
extends ../../layouts/admin.jade

block adminContent
    if remotes.length === 0
        div No remotes configured
    else
        for remote in remotes
            div.col-md-4
                table.table.table-striped
                    tr
                        td
                            b ID:
                        td
                            p #{remote.id}
                    tr
                        td
                            b Type: 
                        td
                            p #{remote.type}
                    tr
                        td
                            b URL:
                        td
                            p #{remote.url}
                    tr
                        td
                            b Root Collection:
                        td
                            a(href=remote.rootCollectionUrl) #{remote.rootCollectionUri}
                    tr
                        td(colspan=2)
                            div.pull-right
                                div.btn-group
                                    a.btn.btn-danger(href=remote.rootCollectionUrl + '/removeRemote/')
                                        span.fa.fa-trash
                                        |  Remove Remote
                                    a.btn.btn-success(href=remote.rootCollectionUrl + '/copyFromRemote/')
                                        span.fa.fa-share-alt
                                        |  Copy to SynBioHub
            div.col-md-1