
extends ../../layouts/admin.jade

block adminContent
    form(action='/admin/theme', method='POST', id="themeForm", enctype='multipart/form-data')
        div.row
            div.col-md-4
                div.form-group
                    label(for='logo') Logo
                    input.form-control(type='file',name='logo')
            
            div.col-md-8
                div.form-group
                    label(for='instanceName') Instance Name
                    input.form-control(type='text', name='instanceName', value=instanceName)

        div.row
            div.col-md-12
                div.form-group
                    label(for='frontPageText') Front Page Text
                    textarea.form-control(name='frontPageText', form-id='themeForm', rows='6') #{frontPageText}    

        div.row
            div.col-md-12
                label Instance Settings
                table.table.table-striped
                    thead
                        th Name
                        th Value
                    tbody
                        for parameter in themeParameters
                            tr
                                td #{parameter.name}
                                td
                                    input.form-control(type='text', name=parameter.variable, value=parameter.value)
        div.row
            div.col-md-12
                div.checkbox
                    label
                        input(type='checkbox', name="showModuleInteractions", checked=config.showModuleInteractions) 
                        | Show Module Interactions
        div.row
            div.col-md-12
                div.checkbox
                    label
                        input(type='checkbox', name="removePublicEnabled", checked=config.removePublicEnabled) 
                        | Remove Public Enabled
        div.row
            div.col-md-12
                div.checkbox
                    label
                        input(type='checkbox', name="requireLogin", checked=config.requireLogin) 
                        | Require Login

        div.row 
            div.col-md-12
                div.checkbox
                    label
                        input(type='checkbox', name="suppressDebugLogs", checked=config.suppressDebugLogs) 
                        | Suppress Debug Logs

        div.row 
            div.col-md-12
                div.checkbox
                    label
                        input(type='checkbox', name="suppressInfoLogs", checked=config.suppressInfoLogs) 
                        | Suppress Info Logs


        div.row 
            div.col-md-12
                div.checkbox
                    label
                        input(type='checkbox', name="suppressWarningLogs", checked=config.suppressWarningLogs) 
                        | Suppress Warning Logs

        div.row 
            div.col-md-12
                div.checkbox
                    label
                        input(type='checkbox', name="suppressErrorLogs", checked=config.suppressErrorLogs) 
                        | Suppress Error Logs

        div.row
            div.col-md-1.col-md-offset-11
                button.btn.btn-primary(type='submit') Save
