
extends ../../layouts/admin.jade

block adminContent
    if(canSendEmail)
        a.btn.btn-primary.pull-right(href="/admin/newUser") Create User
        br
        br
    table.table.table-striped.sbh-datatable
        thead
            tr
                th ID
                th Username
                th Name
                th E-mail
                th Affiliation
                th Member
                th Curator
                th Admin
                th
                th
        tbody
            each u in users
                tr
                    td
                        input(type='hidden',value=u.id)
                        |#{u.id}
                    td
                        input.form-control(type='hidden',value=u.username)
                        |#{u.username}
                    td
                        input.form-control(type='text',value=u.name)
                    td
                        input.form-control(type='text',value=u.email)
                    td
                        input.form-control(type='text',value=u.affiliation)
                    td
                        input(type='checkbox',checked=u.isMember)
                    td
                        input(type='checkbox',checked=u.isCurator)
                    td
                        input(type='checkbox',checked=u.isAdmin)
                    td
                        button.btn.btn-success.save 
                            span.fa.fa-save
                    td
                        if(u.id != user.id)
                            button.btn.btn-danger.delete
                                span.fa.fa-trash



